<main class="main bg-blue pv-30">
  <div id= "error" class="error-container container">
    <div class="inner-90">
     <div class="inner-90">
       <%= image_tag("camel.png", size: "200", alt: "logo") %>
       <div class="box-error-message">
         <p class="font-white">Sorry, you don't have access rights to this page</p>
         <h3 class="h3 font-white pt-30">This is private page</h3>
       </div>
       <div class="pt-30">
         <a href="/" class="btn-x4 btn-wide">Back to top page</a>
       </div>
     </div> 
    </div>
  </div>
</main>