<% @page_title = "Confirm Email" %>
<div class="md-col12 bg-lightblue content-header pd-tp-100">  
  <h1 class="h2 txt-center"><%= page_title %></h1>
</div>
<main class="main pv-100">
  <div class="inner-80">
    <h2><%= @result %></h2>
    <p class="mt-20">
      <a href="/dashboard" class="btn-x1 btn-wide">Go to Dashboard</a>
    </p>
  </div>
</main>