<% @page_title = "Request New Password" %>
<div class="md-col12 bg-lightblue content-header pd-tp-100">  
  <h1 class="h2 txt-center"><%= page_title %></h1>
</div>
<main class="main pv-80">
  <div class="inner-80">
    <%= form_tag("/sessions/send_reset_token", class: "form-request-reset-password") do %>
      <div class="md-col12 sm-col12 xs-col12">
        <h2 class="h4">Reset Password</h2>
        <p id="box-result"></p>
        <div class="section">
          <p><%= label_tag(:request_reset_password, "Type your email", class: "label") %></p>
          <p><%= text_field(:request_reset_password, :email, size: "40") %></p> 
          <p><%= submit_tag("Submit", class: "mt-10 btn-x1 btn-wide duration") %></p>
        </div>
      </div>
       
    <% end %>
  </div>
</main>
