<% @page_title = "Reset Password" %>
<div class="md-col12 bg-user-update content-header pd-tp-100">  
  <h1 class="h2 txt-center"><%= page_title %></h1>
</div>
<main class="main pv-80">
  <div class="inner-80">
    <%= form_tag("/sessions/reset_password", class: "form-set-reset-password") do %>
       
      <div class="md-col12 sm-col12 xs-col12">
        <h2 class="h4">Reset Password</h2>
        <p id="pr-alert"></p>
        <div class="section">
          <p><%= label_tag(:set_reset_password, "Type your new password", class: "label") %></p>
          <%= hidden_field(:set_reset_password, :rpt, id:"rpt", value: @reset_password_token) %>
          <p class="mt-5"><%= password_field(:set_reset_password, :password, size: "30", placeholder: "Password") %></p>
          <p class="mt-5"><%= password_field(:set_reset_password, :password_confirmation, size: "30", placeholder: "Password confirmation") %></p>  
          <p class="mt-5"><%= submit_tag("Submit", class: "mt-10 btn-x1 btn-wide duration") %></p>
        </div>
      </div>
       
    <% end %>
  </div>
</main>
