<div class="login form form-popup">
  <div class="head">
  </div>
  <div class="body txt-center">
    <%= image_tag("globe-icon.png", class: "sm-mt-20") %>
    <h4 class="h5 txt-center pv-5 font-yellow">Welcome back!</h4>
    <div id="login" class="login">
      <%= form_tag("/sessions", method: "post", class: "login-form") do %>
        <div class="pv-5">
       <!--    <p><%= label_tag(:email, "Email", class: "label") %></p> -->
          <p><%= text_field(:session, :email, placeholder: "Email") %></p>
        </div>
        <div class="pv-5">
       <!--    <p><%= label_tag(:password, "Password", class: "label") %></p> -->
          <p><%= password_field(:session, :password, placeholder: "Password") %></p>
        </div>
        <a href="/sessions/request_new_password">Forget password?</a>
        <div class="mt-15">
          <p class="md-col12 sm-col12 xs-col12">
            <button type="submit" value="Login" class="btn-x1 btn-long duration" onclick="ga('send', 'event', 'hd', 'submit', 'lg');">
              <i class="fa fa-envelope mr-5"></i>login
            </button>
          </span>
          <p class="md-col12 sm-col12 xs-col12">
            <a href="/auth/facebook"><button class="btn-fb btn-long duration mt-5" onClick="ga('send', 'event', 'hd', 'submit', 'lg-fb');"><i class="fa fa-facebook-official mr-5"></i>Login</button></a>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>