<div class="signup form form-popup">
  <div class="head">
  </div>
  <div class="body txt-center">
    <%= image_tag("globe-icon.png", class: "sm-mt-20") %>
    <h4 class="h5 txt-center pv-5 font-yellow">Welcome to OrderTrip!</h4>
    <div id="signup" class="signup mt-5">
      <%= form_tag("/users", method: "post", class: "signup-form") do %>
        <div class="pv-5">
       <!--    <p><%= label_tag(:email, "Email", class: "label") %></p> -->
          <p><%= text_field(:user, :email, placeholder: "Email", "data-validation-engine" => "validate[required,custom[email]]") %></p>
        </div>
        <div class="pv-5">
          <!-- <p><%= label_tag(:password, "Password", class: "label") %></p> -->
          <p><%= password_field(:user, :password,  placeholder: "Password", "data-validation-engine" => "validate[required]") %></p>
        </div>
        <div class="pv-5">
          <!-- <p><%= label_tag(:password_confirmation, "Password confirmation", class: "label") %></p> -->
          <p><%= password_field(:user, :password_confirmation, placeholder: "Password confirmation", "data-validation-engine" => "validate[required]") %></p>
        </div>
        <div class="mt-15">
        <% if request.path == "/" %>
          <button type="submit" value="Login" class="btn-x1 btn-long duration" onclick="ga('send', 'event', 'hd', 'submit', 'su', <%= @n %>);">
            <i class="fa fa-envelope mr-5"></i>Signup
          </button>
          <a href="/auth/facebook"><button class="btn-fb btn-long duration mt-5" onClick="ga('send', 'event', 'hd', 'submit', 'su-fb', <%= @n %>);"><i class="fa fa-facebook-official mr-5"></i> Signup</button></a>
        <% else %>
          <button type="submit" value="Login" class="btn-x1 btn-long duration" onclick="ga('send', 'event', 'hd', 'submit', 'su');">
            <i class="fa fa-envelope mr-5"></i>Signup
          </button>
          <a href="/auth/facebook"><button class="btn-fb btn-long duration mt-5" onClick="ga('send', 'event', 'hd', 'submit', 'su-fb');"><i class="fa fa-facebook-official mr-5"></i> Signup</button></a>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>