<main class="sample">

<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:first_name, "Search for:") %>
  <%= text_field(:user, :first_name) %>
  <%= submit_tag("Search", class: "btn-long") %>
<% end %>



<h1 class="h1">h1 Hello! We are OrderTrip</h1>
<h2 class="h2">h2 Hello! We are OrderTrip</h2>
<h3 class="h3">h3 Hello! We are OrderTrip</h3>
<h4 class="h4">h4 Hello! We are OrderTrip</h4>
<h5 class="h5">h5 Hello! We are OrderTrip</h5>
<h6>h6 Hello! We are OrderTrip</h6>
<label for="label">label</label>
<p><input type="text"></p>
<p><input type="password"></p>
<p><input type="radio"></p>
<p>
	<div class="checkbox">
	  <input type="checkbox" value="None" id="squaredThree" name="check" checked />
	</div>
</p>



<p><textarea name="" id="" cols="30" rows="10"></textarea></p>
<p><input type="submit" value="submit" class="btn-x1"></p>
<button class="btn-x2">submit</button>
<button class="btn-x3">submit</button>
<span class="tag">tag</span>


<div class="card-profile">
	<div class="inner-100 head">
		<div class="img fl-l"><img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfp1/t31.0-8/1888974_10152344472565815_1790605384_o.jpg" alt=""></div>
		<div class="box  fl-l">
			<p id="username" class="h4">keioka</p>
			<p id="city" class="">San Francisco</p>
			<p id="star" class="">+++++</p>
		</div>
	</div>
	<div class="bottom debug">
		<p>Hello Hello HelloHelloHelloHelloHello Hello Hello HelloHelloHelloHelloHello Hello Hello HelloHelloHello HelloHello Hello Hello HelloHelloHelloHelloHello Hello Hello HelloHelloHelloHelloHello Hello Hello HelloHelloHelloHelloHello</p>
		<p id="language debug">Japanese, English, French</p>
		<p id="list-tag">
			<span class="tag">Snowboard</span>
			<span class="tag">Engineer</span>
			<span class="tag">Startup</span>
			<span class="tag">Frontend</span>
			<span class="tag">photo</span>
<!-- 			Show tags most related current_user
 -->
<!-- 		Facebook like
 -->
<!-- interested user
 --> 		</p>
	</div>
</div>

<div class="card-place">
	<img src="http://www.thedirtfloor.com/wp-content/uploads/2012/10/MD-Bartlett-DSC07891.jpg" alt="">
	<div class="description">
		<div class="">
			Street art
		</div>
		<div class="address">
			123 34st, Misssion, San francsico,CA
		</div>
	</div>

</div>

<div class="signup form">
	<div class="head">
		<h3>Signup</h3>
	</div>
	<div class="body">
		<div class="">
			<form action="">
				<div class="section">
					<p><label for="username" class="label">Username</label></p>
					<p><input type="text" name="username"></p>
				</div>
				<div class="section">
					<p><label for="email" class="label">Email</label></p>
					<p><input type="text" name="email"></p>
				</div>
				<div class="section">
					<p><label for="phone_number" class="label">Phone number</label></p>
					<p><input type="text" name="phone_number"></p>
				</div>
				<div class="section">
					<p><label for="password" class="label">Password</label></p>
					<p><input type="password" name="password"></p>
				</div>
				<div class="section">
					<p><label for="password confirmation" class="label">Password confirmation</label></p>
					<p><input type="password" name="password_confirmation"></p>
				</div>
				<div class="section">
					<input type="submit" value="Submit"class="btn-x1">
				</div>
			</form>
		</div>
	</div>
</div>

<div class="signin form">
	<div class="head">
		<h3>Signup</h3>
	</div>
	<div class="body">
		<div class="">
			<form action="">
				<div class="section">
					<p><label for="email" class="label">Email</label></p>
					<p><input type="text" name="email"></p>
				</div>
				<div class="section">
					<p><label for="password" class="label">Password</label></p>
					<p><input type="password" name="password"></p>
				</div>
				<div class="section">
					<input type="submit" value="Submit"class="btn-x1">
				</div>
			</form>
		</div>
	</div>
</div>
 <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
    </div>
      <style>
      

      #autocomplete {
        width: 100%;
      }

    </style>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initialize"
        async defer></script>
	   <script>
// This example uses the autocomplete feature of the Google Places API.
// It allows the user to find all hotels in a given place, within a given
// country. It then displays markers for all the hotels returned,
// with on-click details for each hotel.

var autocomplete;

function initialize() {


  // Create the autocomplete object and associate it with the UI input control.
  // Restrict the search to the default country, and to place type "cities".
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */ (
          document.getElementById('autocomplete')), {
        types: ['(cities)']
      });

  autocomplete.setComponentRestrictions([]);
  autocomplete.addListener('place_changed', onPlaceChanged);
}

// When the user selects a city, get the place details for the city and
// zoom the map in on the city.
function onPlaceChanged() {
  var place = autocomplete.getPlace();
  console.log(place);
}




    </script>
    
    <div>
       <div>
	      <input id="autocomplete" placeholder="Enter a city" type="text" />
	   </div>
    </div>
</main>
