<div class="inner-90">
  <%= image_tag("camel.png", size: "200", alt: "logo") %>
  <div class="box-error-message">
    <p class="font-white">Sorry we couldn't find this city</p>
    <h3 class="h3 font-white">Share your friends and expand our map</h3>
  </div>
  <a href="/" class="btn-x4">Go back to top</a>
  <a href="/" class="btn-fb"><i class="fa fa-facebook-official mr-5"></i>Share on Facebook</a  >
</div>