<% @page_title = "Profile Update" %>
<div class="md-col12 bg-special content-header pd-tp-100">  
  <h1 class="h2 txt-center"><%= page_title %></h1>
</div>
<main class="main bg-lightgray">
  <div class="md-col3 xs-col12 fl-l">
    <div class="bg-gray sm-hide">-</div>
    <nav class="update-nav sm-col12 xs-col12 bg-white">
      <ul class="update-nav-ul">
        <li class="nav-user-form md-col12 xs-col3 fl-l">
          <i class="fa fa-file-text-o mr-5 xs-col12"></i>Profile
        </li>
        <li class="nav-user-form md-col12 xs-col3 fl-l">
          <i class="fa fa-user mr-5 xs-col12"></i>Introduction
        </li>
        <li class="nav-user-form md-col12 xs-col3 fl-l">
          <i class="fa fa-unlock mr-5 xs-col12"></i>Verification
        </li>
        <li class="nav-user-form md-col12 xs-col3 fl-l">
          <i class="fa fa-unlock mr-5 xs-col12"></i>Account Setting
        </li>
      </ul>
   <!--    <div class="nav-sub bg-blue">
        Your user profile is 100%
      </div> -->
    </nav>
  </div>
  <div id="user-edit-form" class="md-col9 xs-col12 fl-l bg-lightgray">
  <div class="inner-80 right-col">
    <%= render partial:"users/partial/edit_form" %>
  </div>
  </div>
</main>

<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&language=en&libraries=places&callback=initialize"
        async defer></script>
<script>

  // apply non-idempotent transformations to the body
    $(function() {
      var $msTags = $('#magicsuggest-tag').magicSuggest({
                      method: 'get',
                      data: "/tags",
                      dataUrlParams: {
                          init: true,
                          defaultValues: <%= raw user_tags_array(@user) %>
                      },
                      name:'tags',
                      sortDir: 'desc',
                      sortOrder: 'name',
                      useTabKey: true,
                      ajaxConfig: {
                        xhrFields: {
                          withCredentials: true
                        }
                      }
                     });

    $($msTags).on('load', function(){
      if(this._dataSet === undefined){
        this._dataSet = true;
        $msTags.setValue(<%= raw user_tags_array(@user) %>);
        $msTags.setDataUrlParams({});
      }
    });

    var $msLans = $('#magicsuggest-language').magicSuggest({
                    method: 'get',
                    data: "/languages",
                    dataUrlParams: {
                        init: true,
                        defaultValues: <%= raw user_languages_array(@user) %>
                    },
                    name:'languages',
                    sortDir: 'desc',
                    sortOrder: 'name',
                    useTabKey: true,
                    ajaxConfig: {
                      xhrFields: {
                        withCredentials: true
                      }
                    }
                  });

    $($msLans).on('load', function(){
        if(this._dataSet === undefined){
            this._dataSet = true;
            $msLans.setValue(<%= raw user_languages_array(@user) %>);
            $msLans.setDataUrlParams({});
        }
    });
  });

</script>
<script data-turbolinks-eval=always>
// This example uses the autocomplete feature of the Google Places API.
// It allows the user to find all hotels in a given place, within a given
// country. It then displays markers for all the hotels returned,
// with on-click details for each hotel.
var autocomplete;

function getLatitude(cityPlace){
  var lat = cityPlace.geometry.location.lat();
  if (typeof lat != undefined){
    return lat;
  } else {
    throw new Error("Uncaught error in" + [window.location.pathname] + "> City geolocation can't be gotten :" + cityPlace + "\nGet: " + cityPlace.geometry.location.lat());
  }
}

function getLongitude(cityPlace){
  var lng = cityPlace.geometry.location.lng();
  if (typeof lng != undefined){
    return lng;
  } else {
    throw new Error("Uncaught error in" + [window.location.pathname] + "> City geolocation can't be gotten :" + cityPlace + "\nGet: " + cityPlace.geometry.location.lng());
  }
}

function initialize() {
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */ (
          document.getElementById('autocomplete')), {
        types: ['(cities)']
  });

  autocomplete.setComponentRestrictions([]);
  autocomplete.addListener('place_changed', onPlaceChanged);
}

function onPlaceChanged() {
  var place = autocomplete.getPlace();  
  try {
    var latitude = getLatitude(place);
    var longitude = getLongitude(place);
  } catch (e) {
    jsLogger.fatal(e);
  }
  $("#autocomplete").attr("value", place.formatted_address);
  $("#latitude").attr("value", latitude);
  $("#longitude").attr("value", longitude);
  $("#google_place_id").attr("value", place.place_id); 
}

</script>
