<% 
@page_title = @user.first_name + @user.last_name
%>
<div class="md-col12 sm-col12 bg-special content-header pd-tp-100">
  <h2 class="h2 txt-center">User Profile</h2>
</div>
<main class="main">
  <div class="md-col12 sm-col12 xs-col12 cl-b ">
  	<div id="left-column" class="left-col md-col6 sm-col12 xs-col12 fl-l pt-50">
  	  <div class="inner-80">
  	  	<%= render partial: "layouts/partial/profile_dashboard", locals: { user: @user } %>
  	  </div>
  	</div>
  	<div id="right-column" class="right-col md-col6  sm-col12 xs-col12 fl-l pt-50 bg-lightgray">
  	  <div class="inner-90">
  	  	<h4 class="h4">Reviews</h4>
  	  	  <% @user.reviews.each do |review| %>
  	  	  	<%= render partial: "layouts/partial/review", locals: { review: review } %>
  	  	  <% end %>
  	  	</div>
  	  </div>
  	</div>
  </div>
</main>
