<% @page_title = "Mission" %>
<div class="md-col12 bg-special content-header pd-tp-100">
  <h1 class="h2 txt-center">Our Misson</h1>
</div>
<main class="main pv-50">
  <div class="inner-80">
    <div class="">
      <h2 class="h1">Expand the world </h1>
      <iframe src="https://player.vimeo.com/video/94689101?title=0&byline=0&portrait=0" width="580" height="326" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <p>
      I think our “world map” are really small and covered with thick fog, even we can see the world through google map, TV, blog, Youtube. 
      We usually get the information of all over the world through TV, blog, social media so that it makes us feel as if undertanding the world but I think we don’t. Because we’ve never experienced them by ourselves. 
      We live in the city where is merely one dot as seen from the sky and get information from the others. Our lives have not been changed since ancient times so much. 
      Therefore, our world is still small then when we travel, our world will be expanding. I strongly believe Travel experience change your life 180 degrees. 
      One of the our favorties Quote by Henry Miller shows us.
      ‘’’
      One’s destination is never a place, but a new way of seeing things.
      ‘’’
      Travel experience has power to break stereotype, propaganda, make us face to the reality satisfies our curiosity. 
      Then, I decide to help people maximize thier travel experience. so that our mission is helping people “expand the world”. 
      </p>
      
      <p>
      How can we maximize our travel experience? I’ve got  two simple solutions. One is acessing wherever you want to visit and whatever you see, second is talking with local people and understanding difference from them. Let’s look at common travel style.
      Taxi, Uber? I’ve not remembered driver’s faces. I think it is because they don’t give us travel experience very much, unfortunately. Packaged tour? Do you want to go where you don’t want to go? Professional guide? I want to meet guides more friendly and who will like. If you are lucky, you may get the right person. 

      How can we maximize our travel experience? I strongly believe we can establish the new travel style to maxmize our travel experience. It is simple, we have done this many times when we invite our friend to our city. We would like to go wherever you want and whoever you want to meet. I would call this Social Travel style. 
      </p>
      <p>In order to make Social Travel real, we create crowdsourcing local people for your personalized tour.
      It is simple, a traveler can say “Hey, I wanna visit there. Does anybody guide me?” to local people. Then local people respond to the traveler “Yes, I can” That’s it. After they finish travel, they will post reviews. 
      It is simple system, isn’t it? Just say what you want to do and locals respond to it and you just pick up who you want to meet. We don’t have to search around a lot of websites anymore. We never go where we don’t want to go. We never use travel agency. We just hosting tour  each other. 
      </p>

    </div>
  </div>
</main>
