<% @page_title = "Payment" %>
<div class="md-col12 bg-special content-header pd-tp-100">
  <h1 class="h2 txt-center">Payment & Cancel Policy</h1>
</div>
<main class="main pv-50">
  <div class="inner-80">
    <h2 class="h3">Payment</h2>
    <p>- We use third party system “Stripe” for payment. Stripe provides very secured payment system used by a lot of tech companies such as Twitter, Pinterest, Lyft. </p>
    <p>- All Payment should be done through Ordertrip and Stripe.</p>
    <p>- We charge 3% for using Credit Card.</p>
    <p>We don't store any user's payment information such as credit card.</p><p>We can’t take any responsibity about stripe payment system but stripe will do.</p>

   <blockquote>
   <p><i>Security and Fraud Controls</i></p>
   <p>Stripe is responsible for protecting the security of Payment Data in our possession and will maintain commercially reasonable administrative, technical, and physical procedures to protect all the personal information regarding you and your customers that is stored in our servers from unauthorized access and accidental loss or modification. However, we cannot guarantee that unauthorized third parties will never be able to defeat those measures or use such personal information for improper purposes. You acknowledge that you provide this personal information regarding you and your customers at your own risk. We recommend you review our Privacy Policy, which will help you understand how we collect, use and safeguard the information you provide to us.

   Stripe may provide or suggest security procedures and controls intended to reduce the risk to you of fraud (“Security Controls”). These Security Controls may include processes or applications that are developed by Stripe or by third parties, including but not limited to providing two-factor authentication for logging into your Stripe Account. You agree to review all Security Controls and choose those that are appropriate for your business to protect against unauthorized transactions and, if necessary, use other procedures and controls not provided by us. Disabling or failing to properly use Security Controls increases your exposure to unauthorized Card transactions. Keep in mind that you are responsible for the use of lost or stolen data that is used to purchase products or services from your business. We are not liable for and do not insure against losses to you or your customers resulting from use of lost or stolen data with Stripe Payments (including but not limited to losses arising from the use of lost or stolen credit cards to make purchases from your site or app, or those caused by a compromise of your login credentials).</p>

   <i>Your Privacy</i>

   <p>Privacy and the protection of personal information are very important to us. You acknowledge that you have received, read in full, and agree with the terms of our Privacy Policy, linked to and incorporated into this Agreement by reference, which contains your consent to our collection, use, retention, and disclosure of personal information as well as other matters. The Privacy Policy also explains how and for what purposes we collect, use, retain, disclose, and safeguard the personal information provided to us. You acknowledge that we are required to provide your business name and limited information to financial services providers as part of Stripe Payments. In the event of a default under this Agreement or a misuse of applicable financial networks, we may also report your business name and the name of your principals to the MATCHTM listing maintained by MasterCard and accessed and updated by Visa and American Express or to the Consortium Merchant Negative File maintained by Discover, if applicable, pursuant to the requirements of the Network Rules (as defined below, in Section 14). You specifically consent to the fulfillment of the obligations related to the listing by us or our payment processor and to the listing itself and you waive and hold harmless us or our payment processor from all claims and liabilities you may have as a result of such reporting.</p>

   <p><i>Privacy of Others</i></p>

   <p></p>You represent to Stripe that you are and will continue to be in compliance with all applicable privacy laws. You further represent that you have obtained all necessary rights and consents under applicable law to disclose to Stripe – or allow Stripe to collect, use, retain, and disclose – any data that you provide to us or authorize us to collect, including information that we may collect directly from your end users via cookies or other means. As between you and Stripe, you are solely responsible for disclosing to your customers, as applicable, that you are utilizing Stripe Services and providing customer data to Stripe.

   If you receive information about others, including cardholders, through the use of the Stripe Services, you must keep such information confidential and may only use it in connection with the Stripe Services. You may not disclose or distribute any such information to a third party or use any such information for marketing purposes unless you receive the express consent of the user to do so. You may not disclose card information to any third party, other than in connection with processing a card transaction requested by your customer using Stripe Payments and in a manner consistent with PCI DSS and applicable law.</p>

   </blockquote>
   <p>Tour offers are purchased through the ‘Accept offer’ button found on a guide’s offer page.</p>
   <p>When you accept the local's offer, the fee will be charged so that travellers pay OrderTrip in advance to have a tour.</p>
   <p>Guide can’t charge extra money. The tour fee should be clear before.
   <strong>If guide charged extra money, please report it to us.</strong></p>
   <p>Revenues are only made available for withdrawal from the Revenue page following a safety clearance period of 14 days after the tour is marked as reviewed. </p>

  <div class="pv-30">
    <h2 class="h3">Cancel Policy</h2>
    <table class="cancel-table">
      <tr>
        <th class="th">Cancel Date</th>
        <th class="th">Cancel Fee and Refund</th>
      </tr>
      <tr>
        <td class="td">more than 3 days</td>
        <td class="td">refund 100%</td>
      </tr>
      <tr>
        <td class="td">within 3 days of the tour</td>
        <td class="td">Cancel Fee is 30% and refund is 70% of tour fee</td>
      </tr>
      <tr>
        <td class="td">cancel 8 hours before the tour</td>
        <td class="td">Cancel Fee is 50% and refund is 50% of tour fee</td>
      </tr>
      <tr>
        <td class="td">within 8 hours  before the tour</td>
        <td class="td">cancel Fee is 100%.</td>
      </tr>
    </table>
    <p>*Funds returned to your balance from cancelled orders will not include processing fees paid.</p>
    </div>
    <div class="pv-30">
      <p><h2 class="h3">Withdrawing Revenues</h2></p>
      <p>To withdrawl revenue, paypal account is required.
      We will transfer money to your paypal account within 7 ~ 10 working days on PST.</p>
    </div>
  </div>
</main>
