<% @page_title = "Team" %>
<div class="md-col12 bg-special content-header pd-tp-100">
  <h1 class="h2 txt-center"><%= @page_title %></h1>
</div>
<main class="main pv-50">
  <div class="inner-80">
    <h2 class="h3">Team</h2>
    <section class="section txt-center">
      <img src="<%= asset_path("keioka.png") %>" class="profile-img-xl" alt="">
      <h3 class="h3">Kei Oka</h3>
      <div class="mt-10">
        <label for="" class="label pt-10">Introduction</label>
        <p>Japanese traveler who likes Barcelona and Laos. I grew up in Japan and currently live in San Francisco, United State. I have developed OrderTrip. </p>
      </div>
      <div class="mt-10">
        <label for="" class="label pt-10">Language</label>
        <p>Japanese, English</p>
      </div>
      <div class="mt-10">
        <label for="" class="label pt-10">Where do you want to travel?</label>
        <p>Puerto Rico, Columbia, Portugal, Morocco, Mongolia</p>
      </div>
      <div class="mt-10">
        <label for="" class="label pt-10">What is your ideal travel?</label>
        <p>1. Researching archaeological sites with historical scholars.</p> <p>2. Riding horse and crossing Mongolia. </p><p>3. Sleep under a starry sky.</p>
      </div>
     <!--  <div class="mt-10">
        <label for="" class="label pt-10">What is my best travel experience.</label>
        <p>When I went to an small island, nobody</p>
      </div>
      <div class="mt-10">
        <label for="" class="label pt-10">What is your vision?</label>
        <p>I am writing..</p>
      </div> -->
    </section>
  </div>
</main>
