<div id="nav" class="nav">
  <ul>
  	<li class="google-search"><a href="">Google Search</a></li>
  	<li class="foursquare-seach"><a href="">Foursquare Search</a></li>
  	<li class="youtube-search"><a href="">Youtube Search</a></li>
  </ul>
</div>