<div class="container-2 bd-top">
  <div class="profile-line sm-txt-center">
    <div class="img fl-l sm-txt-center">
      <% if tour.traveler.image_urls.any? %>
        <img src="<%= tour.traveler.image_urls.first.url %>" class="profile-img" alt="">
      <% elsif tour.traveler.uploaded_images.any? %>
        <img src="<%= tour.traveler.uploaded_images.first.image.url(:profile_lg)  %>" class="profile-img" alt="profile_image">
      <% else %>
        <%= image_tag("no_user_image.jpg" , class: "profile-img") %>
      <% end %>
    </div>
    <h3 class="h3 fl-l sm-txt-center"><a href="/users/<%= tour.traveler.id %>" onClick="ga('send', 'event', 'pts', 'trans', 'user');"><%= tour.traveler.first_name %> <%= tour.traveler.last_name %></a></h3>
  </div>

  <div class="cl-b">
  	<label for="introduction" class="label-dark mt-15">Introduction</label>
  	<p class="description cl-b mt-5"><%= simple_format(tour.traveler.description) %></p>
  	<div class="mt-30">
  	  <label for="language" class="label-dark">Language</label>
  	  <p id="language" class="mt-5">
  	  	<% tour.traveler.languages.each do |lang| %>
  	  		<%= lang.name %>
  	  	<% end %>
  	  </p>
  	</div>
  	<div class="mt-30">
  	  <label for="" class="label-dark">Tags</label>
  	  <p id="list-tag" class="mt-5">
  	  	<% tour.traveler.tags.each do |tag| %>
  	  	  <span class="tag"><%= tag.title %></span>
  	  	<% end %>
  	  </p>
  	</div>
  </div>
</div>