<div class="inner-80">
  <ul class="tab-nav sm-col12 xs-col12">
    <a href="/dashboard"><li class="font-small duration sm-col12 xs-col12 dashboard-nav">Profile</li></a>
    <a href="/dashboard/reviews"><li class="font-small duration sm-col12 xs-col12 dashboard-nav">Reviews</li></a>
    <a href="/dashboard/orders"><li class="font-small duration sm-col12 xs-col12 dashboard-nav">Orders</li></a>
    <a href="/dashboard/offers"><li class="font-small duration sm-col12 xs-col12 dashboard-nav">Offers</li></a>
    <a href="/dashboard/transaction"><li class="font-small duration sm-col12 xs-col12 dashboard-nav">Transaction</li></a>
  </ul>
</div>
