<% @page_title = "Order your ideal trip" %>
<div class="md-col12 bg-special content-header pd-tp-100">
	<h1 class="h2 txt-center"><%= @page_title %></h2>
</div>
<main class="main pv-50">
	<div class="xs-col12 sm-col12 md-col12 lg-col12 cl-b">
		<div class="search txt-center container">
			<h5 class="h5 font-light">1. Choose the city</h5>
			<form id="form-city-info">
				<input type="text" id="autocomplete" placeholder="Which city will you travel?" name="city[name]" required onkeypress="if (event.keyCode == 13) { return false;}" class="mt-15 txt-center">
        <input type="hidden" id="latitude" name="city[latitude]" value="">
        <input type="hidden" id="longitude" name="city[longitude]" value="">
        <input type="hidden" id="google_place_id" name="city[google_place_id]" value="">
      </form>
		</div>
		<!-- <ul>
			<li>Search by</li>
			<li><a href="">Google</a></li>|
			<li><a href="">Locals post</a></li>|
			<li><a href="">Yelp</a></li>|
		</ul> -->
	</div>
	<div class="md-col12 mt-15">
    <!-- Post start -->
    <h5 class="h5 font-light pa-20">2. Choose and check your destinations</h5>
    <dov class="mt-30 cl-b"></dov>
		<div id="left" class="left-col bg-lightgray fl-l md-col5 sm-col12 xs-col12 sp-fl-cl">
			<div class="inner-90">
      <!-- <h4 class="h4 txt-center">No Result</h4>   -->
        <form id="form-destination-info">
				  <div id="listing"></div>
        </form>
			</div>
			<!-- End inner container -->	
		</div>

    <!-- Map -->  
		<div id="right" class="md-col7 sm-col12 xs-col12 right-col fl-r sp-fl-cl">
			<div id="map" class="map-size" style="width:100%; height:450px;"></div>
      <div style="display: none">
        <div id="info-content" class="info-content">
          <table>
            <tr id="iw-url-row" class="iw_table_row">
              <td id="iw-icon" class="iw_table_icon"></td>
              <td id="iw-url"></td>
            </tr>
            <tr id="iw-address-row" class="iw_table_row">
              <td class="iw_attribute_name">Address:</td>
              <td id="iw-address"></td>
            </tr>
            <tr id="iw-phone-row" class="iw_table_row">
              <td class="iw_attribute_name">Telephone:</td>
              <td id="iw-phone"></td>
            </tr>
            <tr id="iw-rating-row" class="iw_table_row">
              <td class="iw_attribute_name">Rating:</td>
              <td id="iw-rating"></td>
            </tr>
            <tr id="iw-website-row" class="iw_table_row">
              <td class="iw_attribute_name">Website:</td>
              <td id="iw-website"></td>
            </tr>
          </table>
        </div>
      </div>
	    <div class="inner-80 pt-50 form-box form-tour">
	    	<h3 class="h3">Detail</h3>
	      <form id="form-tour-info">
	        <div class="section">
	          <p><%= label_tag("tour[date]", "Date of tour ( local time )", class: "label") %></p>
            <p><span class="font-small">mm/dd/yyyy</span></p>
	          <div>
              <p>
              <%= select_day(31, class: "input-birthday birthday-day") %>
              <%= select_month(12, class: "input-birthday birthday-month") %>
              <%= select_year(2009, start_year: 2015, end_year: 2016, class: "input-birthday birthday-year") %>
              <input type="hidden" name="tour[tour_date]"  value="<%= DateTime.now.strftime('%Y-%m-%d') %>" id="tour_date" class="special_input" required>
              </p>
              <p class="mt-10">
	              <input type="time" name="tour[start_time]" id="tour" value="10:00" class="special_input" required> - 
                <input type="time" name="tour[end_time]" id="tour" value="18:00" class="special_input" required>
              </p>
	          </div>
	        </div>
	        <div class="section">
	          <p><%= label_tag(:budget, "Budget", class: "label") %></p>
	          <div>
              <p>$<span class="budget-span h4"></span></p>
              <p><input type="range" name="tour[budget]" min="0" max="1000" value="90" class="budget mt-15"></p>
            </div>
	        </div>
          <div class="section">
            <p class="label"><%= label_tag(:title, "Title") %> ( What do you name to this trip? )</p>
            <div><%= text_field(:tour, :title, class: "tour-new-input", required:true, size:60) %></div>
          </div>
	        <div class="section">
	          <p class="label"><%= label_tag(:description, "Description") %>( What do you want to do during trip? )</p>
            <div class="descriptiton">
              <li class="font-gray">Tips1 : You can post blog URL</li>
              <li class="font-gray">Tips2 : You can post Youtube URL</li>
            </div>
	          <p><%= text_area(:tour, :description, class: "tour-new-input", required:true, cols: 69, rows: 10, placeholder: "Hello, I would like to go these places where I choose and wanna see street arts. I found these blogs http://www.blog.com/blog/21 and I wanna go here too. I saw this youtube video. My budget is not so high." ) %></p>
	        </div>
	        <!-- <div class="section">
	          <p><%= label_tag(:reference1, "Reference URL ( You can post blog URL which you found)", class: "label") %></p>
	          <p><%= text_field(:tour, :reference, required:true, size:60) %></p>
	        </div>
	        <div class="section">
	          <p><%= label_tag(:reference2, "Reference URL 2", class: "label") %></p>
	          <p><%= text_field(:tour, :reference2, required:true, size:60) %></p>
	        </div> -->
	        <div class="section">
             <input type="button" class="btn-x4 submit-tour-new" value="Post" onClick="ga('send', 'event', 'ptn', 'submit', 'tour');" />
	        </div>
	      </form>
      </div>
	  </div>
	</div>
</main>

<script>

function submitform(){
  $('.tour-new-form').submit();
}


// Get latitude from google place info 
function getLatitude(cityPlace){
  var lat = cityPlace.geometry.location.lat();
  if (typeof lat != undefined){
    return lat;
  } else {
    throw new Error("Uncaught error in" + [window.location.pathname] + "> City geolocation can't be gotten :" + cityPlace + "\nGet: " + cityPlace.geometry.location.lat());
  }
}

function getLongitude(cityPlace){
  var lng = cityPlace.geometry.location.lng();
  if (typeof lng != undefined){
    return lng;
  } else {
    throw new Error("Uncaught error in" + [window.location.pathname] + "> City geolocation can't be gotten :" + cityPlace + "\nGet: " + cityPlace.geometry.location.lng());
  }
}


var map, places, infoWindow;
var markers = [];
var autocomplete;
var MARKER_PATH = 'https://maps.gstatic.com/intl/en_us/mapfiles/marker_green';
var hostnameRegexp = new RegExp('^https?://.+?/');

function CenterControl(controlDiv, map) {

  // Set CSS for the control border.
  var controlUI = document.createElement('div');
  controlUI.setAttribute("class", "btn-small-x1 btn-refresh");
  controlUI.title = 'Click to recenter the map';
  controlDiv.appendChild(controlUI);

  // Set CSS for the control interior.
  var controlText = document.createElement('div');
  controlText.innerHTML = "<i class='fa fa-refresh mr-5'></i>Refresh Map";
  controlUI.appendChild(controlText);

  // Setup the click event listeners: simply set the map to Chicago.
  controlUI.addEventListener('click', function() {
    search();
  });

}

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 1,
    center: {lat: 15, lng: 0},
    mapTypeControl: false,
    scrollwheel: false,
    panControl: true,
    zoomControl: true,
    streetViewControl: false
  });

  infoWindow = new google.maps.InfoWindow({
    content: document.getElementById('info-content')
  });

  // Create the autocomplete object and associate it with the UI input control.
  // Restrict the search to the default country, and to place type "cities".
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */ (
          document.getElementById('autocomplete')), {
        types: ['(cities)']
  });

  places = new google.maps.places.PlacesService(map);
  autocomplete.setComponentRestrictions([]);
  autocomplete.addListener('place_changed', onPlaceChanged);
  
  var centerControlDiv = document.createElement('div');
  var centerControl = new CenterControl(centerControlDiv, map);

  centerControlDiv.index = 1;
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);

}

function onPlaceChanged() {
  
  var place = autocomplete.getPlace();
  var inputbox = document.getElementById('autocomplete')
  inputbox.setAttribute('value', place.name);

  try {
    var latitude = getLatitude(place);
    var longitude = getLongitude(place);
  } catch (e) {
    jsLogger.fatal(e);
  }
  
  document.getElementById('latitude').value = latitude;
  document.getElementById('longitude').value = longitude;
  document.getElementById('google_place_id').value = place.place_id
  if (place.geometry) {
    map.panTo(place.geometry.location);
    map.setZoom(12);
    search();
  } else {
    document.getElementById('autocomplete').placeholder = 'Enter a city';
  }
}

function search() {
  var search = {
    bounds: map.getBounds(),
    types: [
      'amusement_park', 
      'museum',
      'zoo', 
      'stadium', 
      'place_of_worship', 
      'mosque', 
      'hindu_temple', 
      'airport', 
      'aquarium',
      'art_gallery'
      ]
  };

  places.nearbySearch(search, function(results, status) {  
    if (status === google.maps.places.PlacesServiceStatus.OK) {
      //Initialize
      clearResults();
      clearMarkers();
      // this is for json
      var placeJson = {};
      // this is array for json
      var data = [];

//    Aim to create data like below
//    {
//      place: [
//        { 
//         "place_id": "fd83eh38hd83h_38ed",
//         "latitude": "123.93029923", 
//         "longitude": "13.93029923",
//        },  
//        { 
//         "place_id": "fd83eh38hd83h_38ed",
//         "latitude": "123.93029923", 
//         "longitude": "13.93029923",
//        },  
//      ]
//    }
//
      // results contains response of destination infos from google
      for (var i = 0; i < results.length; i++) {
        // Create marker for map
        var resultPlace = results[i];
        var markerLetter = String.fromCharCode('A'.charCodeAt(0) + i);
        var markerIcon = MARKER_PATH + markerLetter + '.png';

        markers[i] = new google.maps.Marker({
          position: resultPlace.geometry.location,
          animation: google.maps.Animation.DROP,
          icon: markerIcon
        });

        var lat = getLatitude(resultPlace);
        var lng = getLongitude(resultPlace);

        //Create destination date 
        var sendData = {
          name: resultPlace.name,
          address: resultPlace.vicinity,
          place_id: resultPlace.place_id,
          reference: resultPlace.reference,
          rating: resultPlace.rating,
          position: {
            "lat": lat,
            "lng": lng
          }
        };
        // contain each destination info to array 
        data.push(sendData);

        markers[i].placeResult = resultPlace;
        google.maps.event.addListener(markers[i], 'click', showInfoWindow);
        setTimeout(dropMarker(i), i * 100);
        addResult(resultPlace, i);
      }
    }
    //push all infos to json
    placeJson["place"] = data;

    Pace.track(function(){
      $.ajax({
            url:"/destinations/google",
            type: "POST",
            headers: {
              'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
            },
            contentType: "application/json",
            data: JSON.stringify(placeJson)
          }).done(function(response){
            cardPlaceImgs = document.getElementsByClassName("card-place-img");
            var referenceNumber = 0;
            for (var i = 0; i < response.length; i++){
               var card =document.getElementsByClassName("card-place-img")[i]
               var checkboxValue = card.parentNode.parentNode.getElementsByClassName('destination')[0].checked
               if (checkboxValue == true) { 
                 continue;
               } else {
                 var imgSrc = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=600&photoreference=" + response[referenceNumber][0]  + " +&key=AIzaSyAfEZc3f_CMA9cR1TFh-dIKtUYu_fRo44w"
                 if (imgSrc != cardPlaceImgs[i] && checkboxValue == false && response[referenceNumber][0] != undefined) {

                   cardPlaceImgs[i].setAttribute('src', imgSrc);

                 } else if (imgSrc != cardPlaceImgs[i] && checkboxValue == false &&response[referenceNumber][0] == undefined) {
                   imgSrc = "<%= asset_path('notfound.png')%>"
                   cardPlaceImgs[i].setAttribute('src', imgSrc);
                 }
                 referenceNumber++;
              }
            }
          }).error(function(response){
          });
      });
    });
}

function clearMarkers() {
  for (var i = 0; i < markers.length; i++) {
    if (markers[i]) {
      markers[i].setMap(null);
    }
  }
  markers = [];
}

function setAutocompleteCountry() {
  var country = 'all';
  if (country == 'all') {
  } else {
    autocomplete.setComponentRestrictions({'country': country});
    map.setCenter(countries[country].center);
    map.setZoom(countries[country].zoom);
  }
  clearResults();
  clearMarkers();
}

function dropMarker(i) {
  return function() {
    markers[i].setMap(map);
  };
}

function addResult(result, i) {
  var results = document.getElementById('listing');
  var card = document.getElementsByClassName('destination')[i];
  var value = result.place_id;
  if (typeof card != "undefined"){
    var cardPlaceId =  card.value;
    if (value == cardPlaceId){
      return;
    }
  }
  var markerLetter = String.fromCharCode('A'.charCodeAt(0) + i);
  var markerIcon = MARKER_PATH + markerLetter + '.png';

  var tr = document.createElement('tr');
  tr.style.backgroundColor = (i % 2 === 0 ? '#F0F0F0' : '#FFFFFF');
  tr.onclick = function() {
    google.maps.event.trigger(markers[i], 'click');
  };

  if (result.rating){
    var rating = result.rating;
  } else {
    var rating = "No rating";
  }

  var cardEle = document.createElement('div');
  cardEle.setAttribute('class', 'card-place');

  // image box
  var imgContainerEle = document.createElement('div');
  imgContainerEle.setAttribute('class', 'card-place-img-container');
  var imgEle = document.createElement('img');

  imgEle.setAttribute('src', "");
  imgEle.setAttribute('class', 'card-place-img');
  imgEle.setAttribute('alt', result.name);

  imgContainerEle.appendChild(imgEle);
  
  // description box
  var descriptionEle = document.createElement('div');
  descriptionEle.setAttribute('class', 'description');

  // Creat Check box
  var checkboxEle = document.createElement('input');
  checkboxEle.setAttribute('type', 'checkbox');
  checkboxEle.setAttribute('value', value);
  checkboxEle.setAttribute('class', 'destination');
  checkboxEle.setAttribute('name', 'destinations');
  
  // create icon
  var icon = document.createElement('img');

  icon.src = markerIcon;
  icon.setAttribute('class', 'place-icon');

  
  var placeNameEle = document.createElement('span');
  placeNameEle.setAttribute('class', 'ml-10 font-small-bold');
  var name = document.createTextNode(result.name);
  placeNameEle.appendChild(name);

  cardEle.appendChild(imgContainerEle);
  descriptionEle.appendChild(icon);
  descriptionEle.appendChild(checkboxEle);
  descriptionEle.appendChild(placeNameEle);
  cardEle.appendChild(descriptionEle);
  results.appendChild(cardEle);
}

function imageCreate(placeIdArray){
  for (var i = 0; i < placeIdArray.length; i++){
    placeIdArray[i]
  }
}

function checkCard(results){
  var resultsArray = results.children;
  var delete_node = [];
  for (var i = 0; i < resultsArray.length; i++){
    var element = resultsArray[i];
    var checkBox = element.getElementsByClassName('destination')[0];
    var value = checkBox.checked;
    if (value == false || typeof value == "undefined") {
      delete_node.push(results.childNodes[i])
    }
  }
  return delete_node;
}

function clearResults(){
  var results = document.getElementById('listing');
  var delete_node = checkCard(results);
  for(var i = 0; i < delete_node.length; i++){
      results.removeChild(delete_node[i]);
  }
}

function showInfoWindow() {
  var marker = this;
  places.getDetails({placeId: marker.placeResult.place_id},
      function(place, status) {
        if (status !== google.maps.places.PlacesServiceStatus.OK) {
          return;
        }
        infoWindow.open(map, marker);
        buildIWContent(place);
      });
}

function buildIWContent(place) {
  document.getElementById('iw-icon').innerHTML = '<img class="hotelIcon" ' +
      'src="' + place.icon + '"/>';
  document.getElementById('iw-url').innerHTML = '<b><a href="' + place.url +
      '" target="_blank">' + place.name + '</a></b>';
  document.getElementById('iw-address').textContent = place.vicinity;

  if (place.formatted_phone_number) {
    document.getElementById('iw-phone-row').style.display = '';
    document.getElementById('iw-phone').textContent =
        place.formatted_phone_number;
  } else {
    document.getElementById('iw-phone-row').style.display = 'none';
  }

  // Assign a five-star rating to the hotel, using a black star ('&#10029;')
  // to indicate the rating the hotel has earned, and a white star ('&#10025;')
  // for the rating points not achieved.
  if (place.rating) {
    var ratingHtml = '';
    for (var i = 0; i < 5; i++) {
      if (place.rating < (i + 0.5)) {
        ratingHtml += '&#10025;';
      } else {
        ratingHtml += '&#10029;';
      }
    document.getElementById('iw-rating-row').style.display = '';
    document.getElementById('iw-rating').innerHTML = ratingHtml;
    }
  } else {
    document.getElementById('iw-rating-row').style.display = 'none';
  }

  // The regexp isolates the first part of the URL (domain plus subdomain)
  // to give a short URL for displaying in the info window.
  if (place.website) {
    var fullUrl = place.website;
    var website = hostnameRegexp.exec(place.website);
    if (website === null) {
      website = 'http://' + place.website + '/';
      fullUrl = website;
    }
    document.getElementById('iw-website-row').style.display = '';
    var link = document.getElementById('iw-website');
    var linkEle = document.createElement('a');
    linkEle.setAttribute('href', website);
    linkEle.setAttribute('target', '_blank');
    linkEle.textContent = website;
    var previousLink = document.getElementById('iw-website').getElementsByTagName('a')
    if (previousLink.length > 0){
      document.getElementById('iw-website').removeChild(previousLink[0]);
    } 
    document.getElementById('iw-website').appendChild(linkEle);
  } else {
    document.getElementById('iw-website-row').style.display = 'none';
  }
}





// // This example uses the autocomplete feature of the Google Places API.
// // It allows the user to find all hotels in a given place, within a given
// // country. It then displays markers for all the hotels returned,
// // with on-click details for each hotel.

// var map, places, infoWindow;
// var markers = [];
// var autocomplete;
// var countryRestrict = {'country': 'us'};
// var MARKER_PATH = 'https://maps.gstatic.com/intl/en_us/mapfiles/marker_green';
// var hostnameRegexp = new RegExp('^https?://.+?/');




// function initMap() {
//   map = new google.maps.Map(document.getElementById('map'), {
//     zoom: 1,
//     center: {lat: 15, lng: 0},
//     mapTypeControl: false,
//     panControl: false,
//     zoomControl: true,
//     streetViewControl: false
//   });

//   infoWindow = new google.maps.InfoWindow({
//     content: document.getElementById('info-content')
//   });

//   // Create the autocomplete object and associate it with the UI input control.
//   // Restrict the search to the default country, and to place type "cities".
//   autocomplete = new google.maps.places.Autocomplete(
//       /** @type {!HTMLInputElement} */ (
//           document.getElementById('autocomplete')), {
//         types: ['(cities)']
//   });

//   places = new google.maps.places.PlacesService(map);
//   autocomplete.setComponentRestrictions([]);
//   autocomplete.addListener('place_changed', onPlaceChanged);

//   // Add a DOM event listener to react when the user selects a country

//   map.addListener('center_changed', function() {
//     // 3 seconds after the center of the map has changed, pan back to the
//     // marker.
//     search();
//     fourSquareSearch();
//   });

//   //  map.addListener('zoom_changed', function() {
//   //   infowindow.setContent('Zoom: ' + map.getZoom());
//   // });
// }

// // When the user selects a city, get the place details for the city and
// // zoom the map in on the city.
// function onPlaceChanged() {

//   var place = autocomplete.getPlace();
//   if (place.geometry) {
//     map.panTo(place.geometry.location);
//     map.setZoom(12);
//     search();
//   } else {
//     document.getElementById('autocomplete').placeholder = 'Enter a city';
//   }
// }

//  // $.ajax({
//   //   type:"POST",
//   //   url: "/cities",
//   //   headers: {
//   //       'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
//   //     },
//   //   data: {
//   //     name: place.name,
//   //     place: place,
//   //     latitude: place.geometry.location["G"],
//   //     longitude: place.geometry.location["K"],
//   //     place_id: place.place_id
//   //   }
//   // }).done(function(){
//   //   console.log("Success");
//   // }).error(function(){
//   //   console.log("Fail");
//   // });


// function fourSquareSearch(){
//   $.ajax({
//       url:"/destinations/foursquare",
//       type: "POST",
//        headers: {
//         'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
//       },
//       data : {
//         name: place.name
//       }
//   }).done(function(response){
//     // addFourSquareResult(response);
//   }).error(function(response){
//     console.log(response);
//   });
// }





// // function addFourSquareResult(results) {

// //   var listings = document.getElementById('foursquare-listing');
  
// //   for (var i = 0; i < results.length; i++){

// //   var result = results[i];

// //   var markerLetter = String.fromCharCode('A'.charCodeAt(0) + i);
// //   var markerIcon = MARKER_PATH + markerLetter + '.png';
// //         // Use marker animation to drop the icons incrementally on the map.

// //   var geolocation = { 
// //     results[i].geolocation.latitude, 
// //     results[i].geolocation.longitude
// //   }

// //   markers[i] = new google.maps.Marker({
// //           position: geolocation,
// //           animation: google.maps.Animation.DROP,
// //           icon: markerIcon
// //   });
  
  

// //   var cardEle = document.createElement('div');
// //   cardEle.setAttribute('class', 'card-place');


// //   var imgEle = document.createElement('img');

// //   var imgSrc = "a"
// //   imgEle.setAttribute('src', imgSrc);
// //   imgEle.setAttribute('class', 'card-place-img');

// //   var descriptionEle = document.createElement('div');
// //   descriptionEle.setAttribute('class', 'description');

// //   var checkboxEle = document.createElement('input');
  
// //   var value = result.destination.provider_place_id

// //   checkboxEle.setAttribute('type', 'checkbox');
// //   checkboxEle.setAttribute('value', value);
// //   checkboxEle.setAttribute('name', 'destinations');

// //   var icon = document.createElement('img');

// //   icon.src = markerIcon;
// //   icon.setAttribute('class', 'placeIcon');
// //   icon.setAttribute('className', 'placeIcon');
// //   var name = document.createTextNode(result.destination.name);

// //   descriptionEle.appendChild(icon);
// //   descriptionEle.appendChild(checkboxEle);
// //   descriptionEle.appendChild(name);
// //   // cardEle.appendChild(imgEle);
// //   cardEle.appendChild(descriptionEle);
// //   // tr.appendChild(imgTd);
// //   // tr.appendChild(ratingTd);
// //   listings.appendChild(cardEle);


// //   }
// // }



// // Search for hotels in the selected city, within the viewport of the map.
// function search() {

//   var search = {
//     bounds: map.getBounds(),
//     types: [
//       'amusement_park', 
//       'museum',
//       'spa', 
//       'zoo', 
//       'stadium', 
//       'restaurant', 
//       'place_of_worship', 
//       'mosque', 
//       'hindu_temple', 
//       'gym', 
//       'airport', 
//       'aquarium',
//       'art_gallery'
//       ]
//   };

  

//   places.nearbySearch(search, function(results, status) {
    
//     if (status === google.maps.places.PlacesServiceStatus.OK) {
//       clearResults();
//       clearMarkers();
//       var data = {};
//       // Create a marker for each hotel found, and
//       // assign a letter of the alphabetic to each marker icon.
//       for (var i = 0; i < results.length; i++) {
//         var markerLetter = String.fromCharCode('A'.charCodeAt(0) + i);
//         var markerIcon = MARKER_PATH + markerLetter + '.png';
//         // Use marker animation to drop the icons incrementally on the map.
//         markers[i] = new google.maps.Marker({
//           position: results[i].geometry.location,
//           animation: google.maps.Animation.DROP,
//           icon: markerIcon
//         });

//         var sendData = {
//           name: results[i].name,
//           photo_url: results[i].name.reference,
//           rating: results[i].rating,
//           position: results[i].geometry.location
//         }

//         data[i] = sendData;
        
//         // in an info window.
//         markers[i].placeResult = results[i];
//         google.maps.event.addListener(markers[i], 'click', showInfoWindow);
//         setTimeout(dropMarker(i), i * 100);
//         addResult(results[i], i);
//       }

//       $.ajax({
//         url:"/destinations",
//         type: "POST",
//         headers: {
//           'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
//         },
//         contentType: "application/json; charset=utf-8",
//         data: data
//       }).done(function(response){
//         console.log(response);
//       }).error(function(response){
//         console.log(response);
//       });
//     }
//   });
// }

// function clearMarkers() {
//   for (var i = 0; i < markers.length; i++) {
//     if (markers[i]) {
//       markers[i].setMap(null);
//     }
//   }
//   markers = [];
// }

// // [START region_setcountry]
// // Set the country restriction based on user input.
// // Also center and zoom the map on the given country.
// function setAutocompleteCountry() {
//   var country = 'all';
//   if (country == 'all') {
//   } else {
//     autocomplete.setComponentRestrictions({'country': country});
//     map.setCenter(countries[country].center);
//     map.setZoom(countries[country].zoom);
//   }
//   clearResults();
//   clearMarkers();
// }
// // [END region_setcountry]

// function dropMarker(i) {

//   return function() {
//     markers[i].setMap(map);
//   };
// }


// function addResult(result, i) {
//   var results = document.getElementById('google-listing');
//   var markerLetter = String.fromCharCode('A'.charCodeAt(0) + i);
//   var markerIcon = MARKER_PATH + markerLetter + '.png';

//   var tr = document.createElement('tr');
//   tr.style.backgroundColor = (i % 2 === 0 ? '#F0F0F0' : '#FFFFFF');
//   tr.onclick = function() {
//     google.maps.event.trigger(markers[i], 'click');
//   };

//   if (result.rating){
//     var rating = result.rating;
//   } else {
//     var rating = "No rating";
//   }


//   var cardEle = document.createElement('div');
//   cardEle.setAttribute('class', 'card-place');


//   var imgEle = document.createElement('img');
// //   // var imgSrc = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=" + result.reference + "&key=AIzaSyCvc-8X4LZWTucGQlenqbP9N8uzGNVtOk8"
// // https://maps.googleapis.com/maps/api/place/details/json?placeid=ChIJN1t_tDeuEmsRUsoyG83frY4&key=AIzaSyCvc-8X4LZWTucGQlenqbP9N8uzGNVtOk8
// // https://maps.googleapis.com/maps/api/place/details/json?placeid=ChIJN1t_tDeuEmsRUsoyG83frY4&key=AIzaSyDdNw_IlrujuIorCo5lmoiiv6CK6PkCIP4

//   $.ajax({
//     url:  "https://maps.googleapis.com/maps/api/place/details/json?placeid=" + result.reference + "&key=AIzaSyDdNw_IlrujuIorCo5lmoiiv6CK6PkCIP4",
//     type: "GET"
//   }).success(function(response){
//     console.log(response);
//   }).error(function(response){
//     console.log(response);
//   });

//   var imgSrc = "a"
//   imgEle.setAttribute('src', imgSrc);
//   imgEle.setAttribute('class', 'card-place-img');

//   var descriptionEle = document.createElement('div');
//   descriptionEle.setAttribute('class', 'description');

//   var checkboxEle = document.createElement('input');
//   var value = result.place_id 

//   checkboxEle.setAttribute('type', 'checkbox');
//   checkboxEle.setAttribute('value', value);
//   checkboxEle.setAttribute('name', 'destinations');

//   var icon = document.createElement('img');

//   icon.src = markerIcon;
//   icon.setAttribute('class', 'placeIcon');
//   icon.setAttribute('className', 'placeIcon');
//   var name = document.createTextNode(result.name);

//   descriptionEle.appendChild(icon);
//   descriptionEle.appendChild(checkboxEle);
//   descriptionEle.appendChild(name);
//   // cardEle.appendChild(imgEle);
//   cardEle.appendChild(descriptionEle);
//   // tr.appendChild(imgTd);
//   // tr.appendChild(ratingTd);
//   results.appendChild(cardEle);
// }



// function clearResults() {
//   var results = document.getElementById('google-listing');
//   while (results.childNodes[0]) {
//     results.removeChild(results.childNodes[0]);
//   }
// }


// // Get the place details for a hotel. Show the information in an info window,
// // anchored on the marker for the hotel that the user selected.


// function showInfoWindow() {
//   var marker = this;
//   places.getDetails({placeId: marker.placeResult.place_id},
//       function(place, status) {
//         if (status !== google.maps.places.PlacesServiceStatus.OK) {
//           return;
//         }
//         infoWindow.open(map, marker);
//         buildIWContent(place);
//       });
// }

// // Load the place information into the HTML elements used by the info window.
// function buildIWContent(place) {
//   document.getElementById('iw-icon').innerHTML = '<img class="hotelIcon" ' +
//       'src="' + place.icon + '"/>';
//   document.getElementById('iw-url').innerHTML = '<b><a href="' + place.url +
//       '">' + place.name + '</a></b>';
//   document.getElementById('iw-address').textContent = place.vicinity;

//   if (place.formatted_phone_number) {
//     document.getElementById('iw-phone-row').style.display = '';
//     document.getElementById('iw-phone').textContent =
//         place.formatted_phone_number;
//   } else {
//     document.getElementById('iw-phone-row').style.display = 'none';
//   }

//   // Assign a five-star rating to the hotel, using a black star ('&#10029;')
//   // to indicate the rating the hotel has earned, and a white star ('&#10025;')
//   // for the rating points not achieved.
//   if (place.rating) {
//     var ratingHtml = '';
//     for (var i = 0; i < 5; i++) {
//       if (place.rating < (i + 0.5)) {
//         ratingHtml += '&#10025;';
//       } else {
//         ratingHtml += '&#10029;';
//       }
//     document.getElementById('iw-rating-row').style.display = '';
//     document.getElementById('iw-rating').innerHTML = ratingHtml;
//     }
//   } else {
//     document.getElementById('iw-rating-row').style.display = 'none';
//   }

//   // The regexp isolates the first part of the URL (domain plus subdomain)
//   // to give a short URL for displaying in the info window.
//   if (place.website) {
//     var fullUrl = place.website;
//     var website = hostnameRegexp.exec(place.website);
//     if (website === null) {
//       website = 'http://' + place.website + '/';
//       fullUrl = website;
//     }
//     document.getElementById('iw-website-row').style.display = '';
//     document.getElementById('iw-website').textContent = website;
//   } else {
//     document.getElementById('iw-website-row').style.display = 'none';
//   }
// }

// This example uses the autocomplete feature of the Google Places API.
// It allows the user to find all hotels in a given place, within a given
// country. It then displays markers for all the hotels returned,
// with on-click details for each hotel.

</script>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&language=en&callback=initMap"
    async defer></script>
