<% 
@page_title = @tour.title 
@page_keywords = @tour.title.split(" ") 
%>
<div class="md-col12 sm-col12 xs-col12 bg-special content-header pd-tp-100">
  <h1 class="h2 txt-center sm-col12 xs-col12"><%= page_title %></h1>
  <p class="sm-col12 xs-col12 txt-center mt-15">
    <span class="sm-col12 xs-col12"><%= @tour.tour_date.strftime('%x') %></span>
    <span class="sm-hide"> | </span>
    <span class="sm-col12 xs-col12"><%= @tour.start_time.strftime('%H:%M') %> - <%= @tour.end_time.strftime('%H:%M') %> [ <%= print_timezone(@tour) %> ] </span></p>
  <p class="txt-center tour-budget mt-15">$<%= @tour.budget %></p>
</div>
<main class="main pt-50">
	<div class="md-col12 cl-b">
		<div class="container-2">
			<!-- <h1 class="h1 txt-center"></h1> -->
      <label class="label-dark">About this tour</label>
			<p class="mt-10"><%= simple_format(@tour.description) %><p>
      <div class="fl-r sm-fl-n md-col12 sm-col12 xs-col12 sm-mt-30 sm-txt-center">
       <div class="fl-l sm-fl-n pv-10 md-col6 sm-col12 xs-col12">
         <div class="fb-share-button" data-href="https://www.ordertrip.com/tours/<%= @tour.id %>" data-layout="button"></div>
       </div>
       <div class="fl-r sm-fl-n pv-10 md-col6 sm-col12 xs-col12">
         <% if !is_current_user?(@tour.traveler.id) && offered?(@tour) %>
         	<button id="offer" class="btn-x2 offer fl-r sm-fl-n" onClick="ga('send', 'event', 'pts', 'show', 'offer-box');">Send Offer Message</button>
         <% elsif !sign_in? %>
           <button id="offer" class="btn-gray fl-r sm-fl-n">Send Offer Message</button>
           <div class="cl-b"></div>
           <h6 class="h6 sm-txt-center mt-5 sm-mt-10 fl-r sm-fl-n"><i class="fa fa-exclamation-circle font-red mr-5"></i>To send an offer to the traveler, please <a class="login-btn" onClick="ga('send', 'event', 'pts', 'show', 'lg');">Login</a> or <a class="signup-btn" "ga('send', 'event', 'pts', 'show', 'su');">Signup</a></h6>
         <% elsif is_current_user?(@tour.traveler.id) %> 
           <h6 class="h6 sm-txt-center mt-5 sm-mt-10 fl-r sm-fl-n"><i class="fa fa-exclamation-circle font-red mr-5"></i>This is your ordered trip. Please wait for offers coming</h6>
         <% else %>
           <button id="offer" class="btn-gray fl-r sm-fl-n">Send Offer Message</button>
           <div class="cl-b"></div>
           <h6 class="h6 sm-txt-center mt-5 sm-mt-10 fl-r sm-fl-n"><i class="fa fa-exclamation-circle font-red mr-5"></i> You've alredy sent offer.</h6>
         <% end %>
        </div>
      </div>
		</div>
	</div>
	<div class="md-col12 cl-b">
		<%= render partial: "tours/partial/profile", locals: { tour: @tour } %>
	</div>
	<div class="md-col12">
		<div id="left" class="md-col5 sm-col12 xs-col12 left-col sm-left-col fl-l bg-lightgray">
			<div class="inner-container">
      <% @tour.destinations.each do |destination| %>
				<div class="card-place">
          <div class="card-place-img-container">
            <img src="<%= print_google_destination_url(destination) %>" class="card-place-img">
          </div>
          <!-- AIzaSyCvc-8X4LZWTucGQlenqbP9N8uzGNVtOk8 -->
          <div class="description">
            <span class="font-small-bold"><%= destination.name %></span>
          </div>
        </div>
      <% end %>
			</div>
			<!-- End inner container -->	
		</div>
		<div id="right" class="md-col7 sm-col12 xs-col12 right-col sm-right-col map-size fl-r">
			<div id="map" class="map-size" style="width:100%; height:450px;"></div>
		</div>
	</div>
</main>
<!-- pop up box -->
<div id="offer-box" class="md-col12 cl-b offer-box" data-role="popup">
  <div class="form-offer">
    <%= form_tag("/tours/#{@tour.id}/offers", method: "post", class: "offer-form") do %>
      <div class="section">
        <p><%= label_tag(:Price, "Your Offer Fee", class: "label") %></p>
        <p class="mt-5"><strong><%= show_first_name(@tour.traveler) %></strong>'s budget is <%= @tour.budget %>. How much do you offer?</p>
        <p><%= number_field(:offer, :price, value: @tour.budget, "data-validation-engine" => "validate[required]") %></p>
      </div>
      <div class="section">
        <p><%= label_tag(:Message, "Message", class: "label") %></p>
        <p class="mt-5">Say hello to <strong><%= show_first_name(@tour.traveler) %></strong>! If you have any suggestion about the tour or recommendation, please advise traveler.</p>
        <p><%= text_area(:offer, :message, cols: 60, rows: 7, "data-validation-engine" => "validate[required]") %></p>
      </div>
      <div class="section">
      <!-- <input type="submit" value="Signup"class="btn-x1 btn-long"> -->
        <%= submit_tag("Offer", class: "btn-x3", onClick: "ga('send', 'event', 'pts', 'submit', 'offer-send');") %>
        <button class="offer-close btn-gray"><i class="fa fa-times mr-5"></i>Close offer box</button>
      </div>
    <% end %>
  </div>  
</div>

<script>
function initMap() {
  var geolocation = <%= raw city_geolocation_hash(@city) %>;
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: {lat: geolocation[0], lng: geolocation[1]},
    scrollwheel: false,
    navigationControl: false,
    mapTypeControl: false,
    streetViewControl: false
  });

  setMarkers(map);
}

// order in which these markers should display on top of each other.
var beaches = <%= raw destinations_geolocation_array(@tour) %>;

function setMarkers(map) {
  // Adds markers to the map.

  // Marker sizes are expressed as a Size of X,Y where the origin of the image
  // (0,0) is located in the top left of the image.

  // Origins, anchor positions and coordinates of the marker increase in the X
  // direction to the right and in the Y direction down.
  var image = {
    url: 'images/beachflag.png',
    // This marker is 20 pixels wide by 32 pixels high.
    size: new google.maps.Size(20, 32),
    // The origin for this image is (0, 0).
    origin: new google.maps.Point(0, 0),
    // The anchor for this image is the base of the flagpole at (0, 32).
    anchor: new google.maps.Point(0, 32)
  };
  // Shapes define the clickable region of the icon. The type defines an HTML
  // <area> element 'poly' which traces out a polygon as a series of X,Y points.
  // The final coordinate closes the poly by connecting to the first coordinate.
  var shape = {
    coords: [1, 1, 1, 20, 18, 20, 18, 1],
    type: 'poly'
  };
  for (var i = 0; i < beaches.length; i++) {
    var beach = beaches[i];
    var marker = new google.maps.Marker({
      position: {lat: beach[1], lng: beach[2]},
      map: map,
      shape: shape,
      title: beach[0],
      zIndex: beach[3]
    });
  }
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&language=en&callback=initMap"
    async defer></script>