<% if Rails.env.development? %>   
  <%= favicon_link_tag 'ordertrip-favicon-dev.ico' %>
<% elsif Rails.env.staging? %>
  <%= favicon_link_tag 'ordertrip-favicon-stg.ico' %> 
<% elsif Rails.env.production? %> 
  <%= favicon_link_tag 'ordertrip-favicon.ico' %> 
<% end %>