<footer id="footer" class="md-col12 sm-col12 xs-col12 footer cl-b">
  <div class="pt-20 sm-pt-5">
    <ul class="md-col12 sm-col12 xs-col12 txt-center">
      <li class="md-col12 sm-col12 xs-col12">
        <a href="/mission" onClick="ga('send', 'event', 'ft', 'trans', 'mission');">Mission</a>
      </li>
    <!--  <li class="md-col12 sm-col12 xs-col12 sm-txt-center">
        <a href="/team" onClick="ga('send', 'event', 'ft', 'trans', 'team');">About Team</a>
        </li> -->
      <li class="md-col12 sm-col12 xs-col12 sm-txt-center">
        <a href="/terms" onClick="ga('send', 'event', 'ft', 'trans', 'terms');">Term & Privacy Policy</a>
      </li>
      <li class="md-col12 sm-col12 xs-col12 sm-txt-center">
        <a href="/payment" onClick="ga('send', 'event', 'ft', 'trans', 'payment');">Payment & Cancel Policy</a>
      </li>
    </ul>
  </div>
  <div class="txt-center font-white font-small pt-10 sm-pt-0">
    copyright @ OrderTrip Inc
  </div>
</footer>
