<header class="md-col12 header header-size fade-before fade-in">
  <div class="inner-95 sm-inner-100">
    
    <!--Logo section-->
    <div id="logo" class="md-col3 sm-col3 fl-l">
      <div class="logo sm-ml-10"><a href="/"><%= image_tag("OrderTrip-logo-beta.png", class: "img-logo", alt: "ordertrip-logo") %></a>    
      </div>
    </div>

    <!-- Flag section -->
    <div id="section-flag" class="md-col2 sm-col2 fl-l">
      <%= image_tag("flag/United-States-of-America.png", class: "flag mr-10", alt:"flag-us")%>
      <%= image_tag("flag/Japan.png", class: "flag", alt:"flag-jp") %>
    </div>  

    <!-- Nav-->


    <div class="md-col7 sm-col7 xs-col12 fl-r sm-fl-n">
      <span id="nav-open" class="nav-open md-hide sm-show sm-fl-r sm-mr-10"><i class="fa fa-bars mr-5 "></i>Menu</span>
      <nav class="fl-r sm-fl-n nav">
      <ul class="fl-r sm-fl-n">
        <li class="sm-w100"> 
        <label id="lang-label">
          <i class="fa fa-globe font-white" aria-hidden="true"></i>
            <select id="lang-option">
              <% if I18n.locale.empty? || I18n.locale == :en %>
                <option selected>English</option>
                <option>日本語</option>
              <% else %>
                <option>English</option>
                <option selected>日本語</option>
              <% end %>  
            </select>
          </label>
        
        </li>
          <% if current_user %>
            <li class=""><a href="/dashboard" class="hvr-underline-reveal sm-w100"><i class="fa fa-user mr-5"></i><%= current_user.first_name %></a></li>
            <li class=""><a href="/tours/new" class="hvr-underline-reveal sm-w100"><i class="fa fa-file-text-o mr-5"></i><%= t "header.ordertrip" %></a></li>
            <li class="">
              <%= link_to("Logout", "/sessions/logout", method: "delete", class: 'hvr-underline-reveal sm-w100')%>
            </li>
          <% else %>
            <% if request.path == "/" %>
              <li class=""><a href="" id="signup" class="hvr-underline-reveal sm-w100 signup-btn" onClick="ga('send', 'event', 'hd', 'show', 'su-popup', <%= @n %>);"><%= t "header.signup" %></a></li>
              <li class=""><a href="" id="login" class="hvr-underline-reveal sm-w100 login-btn" onClick="ga('send', 'event', 'hd', 'show', 'lg-popup', <%= @n %>);"><%= t "header.login" %></a></li>
            <% else %>
              <li class=""><a href="" id="signup" class="hvr-underline-reveal sm-w100 signup-btn" onClick="ga('send', 'event', 'hd', 'show', 'su-popup');"><%= t "header.signup" %></a></li>
              <li class=""><a href="" id="login" class="hvr-underline-reveal sm-w100 login-btn" onClick="ga('send', 'event', 'hd', 'show', 'lg-popup');"><%= t "header.login" %></a></li>
            <% end %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
