<div class="img txt-center">
  <div id="slide-img" data-is-role="box">
    <% if user.image_urls.any? || user.uploaded_images.any? %>
      <% user.image_urls.each do |image_url| %>
        <img src="<%= image_url.url %>" alt="user_image" class="profile-img-lg slide-image" data-is-role="img">
      <% end %>
      <% user.uploaded_images.each do |image| %>
        <img src="<%= image.image.url(:profile_lg) %>" alt="user_image" class="profile-img-lg slide-image" data-is-role="img">
      <% end %>
    <% else %>
      <%= image_tag("no_user_image.jpg", class: "profile-img-lg", alt: "user_image") %>
    <% end %>
  </div>
  <div id="ctrl-box" data-is-role="ctrl-box">
  </div>
</div>