<%= render partial: "layouts/partial/profile_image", locals: { user: user } %>
<h3 class="h3 txt-center mt-5"><%= user.first_name %> <%= user.last_name %></h3>
  <p class="txt-center mt-5"><%= city_name_from_user(user) %></p>
  <p class="txt-center mt-5"><%= user.gender_s %></p>
  <p class="txt-center mt-5"><span class="mr-5"><%= user.age %> years old</span></p>
  <p class="txt-center mt-5"><span class="mr-5"><%= user.work %></span></p>
  <div class="md-col12">
    <ul class="txt-center member-status">
      <li class="panel-member-status">
        <p class="font-small">MEMBER SINCE</p>
        <h4 class=""><%= user_print_member_since(user) %></h4>
      </li>
      <li class="panel-member-status">
        <p class="font-small">REVIEWS</p>
        <h4 class=""><%= user.reviews_count %></h4>
      </li>
    </ul>
  </div>
  <div class="md-col12 pb-100">
    <div class="box-verification txt-center mt-15">
   　　<div class=" txt-center">
        <div class="line-verification txt-center sm-mt-20">
   　　    <li class="<%= print_facebook_status(user) %>"></li>
   　　    <li class="font-small mt-5">FACEBOOK</li>
   　　  </div>
        <div class="line-verification txt-center sm-mt-20">
   　　    <li class="<%= print_phone_status(user) %>"></li>
   　　    <li class="font-small mt-5">PHONE</li>
        </div>
        <div class="line-verification txt-center sm-mt-20">
   　　    <li class="<%= print_driver_license_status(user) %>"></li>
   　　    <li class="font-small mt-5">DRIVER ID</li>
        </div>
        <div class="line-verification txt-center sm-mt-20">
   　　    <li class="<%= print_criminal_record_status(user) %>"></li>
   　　    <p class="font-small mt-5">CRIMINAL</p>
   　　    <p class="font-small">RECORD</p>
        </div>
   　  <div class="cl-b"></div>
   　</div>
  </div>

<div class="cl-b">
  <div class="pt-50">
  	<label for="" class="label">Introduction</label>
  	<p class="description cl-b mt-5"><%= simple_format(user.description) %></p>
  </div>
  <div class="pt-50"></div>
  	<label for="" class="label txt-center">Language</label>
  	<p id="language" class="mt-5">
  		<% user.languages.each do |lang| %>
  			<%= lang.name %>
  		<% end %>
  	</p>
  </div>
  <div class="pt-50"></div>
  	<label for="" class="label">Tags</label>
  	<p id="list-tag" class="mt-5">
  		<% user.tags.each do |tag| %>
  			<span class="tag mt-5"><%= tag.title %></span>
  		<% end %>
  	</p>
  </div>
</div>
<script>
   
</script>