<div class="card-review bg-white">
  <div class="inner-card">
    <div class="content">
      <p class="">
        <%= simple_format(review.body) %>
      </p>
    </div>
    <div class="bottom bd-top" style="clear: fixed">
      <p class="font-small fl-l">Posted by <a href="/users/<%= review.reviewer_id %>"><%= get_user(review.reviewer_id).first_name %></a></p>
      <p class="font-small fl-r"><%= review.created_at.strftime('%x') %>
      </p>
    </div>
  </div>
</div>

