<script type="text/javascript">

var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;

<% if Rails.env.production? %>
s1.src='https://embed.tawk.to/56439a75948b42c661a5a743/default';

<% else %>
s1.src='https://embed.tawk.to/563718b0058f63830522ea4b/default';

<% end %>

s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();

</script>
