<section id="intro-service" class="container">
  <div class="inner-80">
    <h2 class="h2"><%= t "howitworks.title" %></h2>
    <div class="pv-30 sm-hide">
      <% @n = a_b %>
        <% if @n == 0 %>
          <iframe src="https://player.vimeo.com/video/146852539?title=0&byline=0&portrait=0" class="video"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <% else %>
          <h5 class="h5"><%= t "howitworks.demo" %></h5>
          <div class="browser">
            <%= image_tag("tour-new.gif") %>
          </div>
        <% end %>
    </div>
    <div class="bd-top mb-50"></div>
    <div class="fl-l lg-col4 md-col4 sm-col12 xs-col12 sm-mt-60">
      <div class="inner-90">
        <%= image_tag("icon-post.png", class: "icon-image", alt: "order your trip") %>
        <p class="mt-15 h4"><%= t "howitworks.first.title" %></p>
        <p class="mt-15 txt-left sm-txt-center"><%= t "howitworks.first.description" %></p>
      </div>
    </div>
    <div class="fl-l lg-col4 md-col4 sm-col12 xs-col12 sm-mt-60">
      <div class="inner-90">
        <%= image_tag("icon-accept.png", class: "icon-image", alt: "accept offers") %>
        <h4 class="mt-15 h4"><%= t "howitworks.second.title" %></h4>
        <p class="mt-15 txt-left ff-color sm-txt-center"><%= t "howitworks.second.description" %></p>
      </div>
    </div>
    <div class="fl-l lg-col4 md-col4 sm-col12 xs-col12 sm-mt-60">
      <div class="inner-90">
        <%= image_tag("icon-payment.png", class: "icon-image", alt: "payment") %>
        <p class="mt-15 h4"><%= t "howitworks.third.title" %></p>
        <p class="mt-15 txt-left sm-txt-center"><%= t "howitworks.third.description" %></p>
      </div>
    </div>
    <div class="cl-b"></div>
  </div>
</section>
 
