<section id="show-all-guides" class="container cl-b bg-lightgray">
  <div class="inner-80 sm-inner-100">
  	<span><h2 class="h2">Locals waiting for you</h2></span>
      <div class="mt-30"></div>
  	  <div id="map" class="sm-mt-15 " style="width:100%; height:400px"></div>
  </div>
</section>

