
<section id="show-pickups" class="container">
  <h2 class="h2 txt-center pv-20">Tours ordered by travelers!</h2>
    <h5 class="h5 txt-center pv-5 font-gray">Travelers are looking for locals.</h2>
    <div class="inner-80 sm-inner-90">
      <% if !@tours.nil? %>
        <% @tours.each do |tour| %>
          <div class="md-col6 sm-col12 xs-col12 fl-l">
            <%= render partial: "cities/partial/tour_card", locals: { tour: tour } %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="cl-b"></div>
</section>

