<aside class="md-col12">
  <div class="container-tab w-90 cl-b">
    <div>You're looking for..</div>
    <ul class="tab">
      <li class=""><a href="/cities/<%= params[:id] %>" onClick="ga('send', 'event', 'pcs', 'tab', 'order');">Travelers</a></li>
      <li class=""><a href="/cities/<%= params[:id] %>/locals" onClick="ga('send', 'event', 'pcs', 'tab', 'local');">Locals</a></li>
  </ul>
</aside>