<div class="xs-col12 sm-col12 md-col12 lg-col12 cl-b">
  <div id="title" class="title">
  	<div class="title-header">
  	  <div class="search">
        <h2 class="font-title"><%= t "top.h1"%></h2>
  	  	<!-- <h3 class="h5 font-white txt-shadow">Create and Ask locals for your own tours</h3> -->
        <h3 class="h5 font-white txt-shadow"><%= t "top.h2" %></h3>
  	   	<div class="fl-l md-col12 sm-col12 xs-col12 sm-mt-15">
  	  	  <% if current_user %>
            <div class="pv-30">  	    
              <a href="/tours/new" class="btn-x4"><%= t "top.button.ordertrip" %></a>
            </div>    
  	  	  <% else %>
            <div class="pv-30">
              <div class="fl-l md-col6 sm-col12 xs-col12">
                <a href="/auth/facebook" id="signup-top-fb-btn" class="mt-15 btn-fb " onClick="ga('send', 'event', 'ptp', 'submit', 'su-fb', <%= @n %>);"><i class="fa fa-facebook-official mr-5"></i><%= t "top.button.fbsignup" %></a>
              </div>
              <div class="fl-l md-col6 sm-col12 xs-col12 sm-mt-40">
                <a id="signup-top-btn" class="btn-x1 mt-15 signup-btn" onClick="ga('send', 'event',  'ptp', 'show', 'su-popup', <%= @n %>);"><i class="fa fa-envelope mr-5"></i><%= t "top.button.emailsignup"%></a>
              </div>
            </div>   
  	  	 <% end %>
  	  	</div>
  	  	<!-- <div class="fl-l md-col6 sm-col12 xs-col12 sm-mt-15">
  	  	  <h6 class="h6 font-white sm-pv-30">or Check Traveler's order</h6>
  	  	  <a href="/cities/sanfrancisco" class="btn-x4">See orders</a>
  	  	</div> -->
  	  </div>
  	</div>
  </div>
</div>
