<a href="/tours/<%= tour.id %>" onClick="ga('send', 'event', 'pcs', 'trans', 'tour-show', '<%= tour.id %>' ');">
  <div class="card-order">
    <div class="card-order-header">
      <div class="card-place-img-container">
    	<img src="<%= tour_destinations_photo(tour) %>" class="card-place-img" alt="<%= tour.title %>">
      </div>
    </div>
    <div class="card-order-bottom">
      <div class="tour-content">
        <p><span class="date-label"><%= tour.tour_date.strftime('%x') %></span> 
        <span class="h6 time"><%= tour.start_time.strftime('%H:%M') %> - <%= tour.end_time.strftime('%H:%M') %></span>
        
        <!-- Task!!!!!!! -->
        <% if tour.guide_id.nil? %>
          <span class="price-tag fl-r"><span class="price-dollar">$</span><span class="price-number"><%= tour.budget %></span></span>
        <% else %>
          <span class="accept-tag fl-r"></span>
        <% end %>
        </p>
        <h3 class="font-small-bold mt-10 sm-mt-10"><%= tour.title %></h3>
      </div>
      <div class="profile bd-top">
        <div class="fl-l sm-fl-l">
          <% if tour.traveler.image_urls.any? %>
            <img src="<%= tour.traveler.image_urls.first.url %>" class="profile-img" alt="">
          <% elsif tour.traveler.uploaded_images.any? %>
  			<img src="<%= tour.traveler.uploaded_images.first.image.url(:profile_sm)  %>" class="profile-img" alt="">
          <% else %>
          	<%= image_tag("no_user_image.jpg" , class: "profile-img") %>
          <% end %>
        </div>
        <div class="profile-info fl-l sm-fl-l">
          <p><%= tour.traveler.first_name %></p>
        </div>
      </div>
    </div>
  </div>
</a>