<section id="why_us" class="container">
  <div class="inner-80">
  <h2 class="h2 txt-center pv-20">Why Us</h2>
    <div class="fl-l lg-col4 md-col4 sm-col12 xs-col12 sm-mt-60">
      <div class="inner-90">
        <%= image_tag("pc1-badge.png", class: "icon-image", alt: "order your trip") %>
        <h4 class="mt-15 h4"><%= t "whyus.first.title" %></h4>
        <p class="mt-15 txt-left sm-txt-center"><%= t "whyus.first.description" %></p>
      </div>
    </div>
    <div class="fl-l lg-col4 md-col4 sm-col12 xs-col12 sm-mt-60">
      <div class="inner-90">
        <%= image_tag("blockscore-logo.png", class: "icon-image", alt: "accept offers") %>
        <h4 class="mt-15 h4"><%= t "whyus.second.title" %></h4>
        <p class="mt-15 txt-left ff-color sm-txt-center"><%= t "whyus.second.description" %> </p>
      </div>
    </div>
    <div class="fl-l lg-col4 md-col4 sm-col12 xs-col12 sm-mt-60">
      <div class="inner-90">
        <%= image_tag("crowdsourcing.png", class: "icon-image", alt: "payment") %>
        <h4 class="mt-15 h4"><%= t "whyus.third.title" %></h4>
        <p class="mt-15 txt-left sm-txt-center"><%= t "whyus.third.description" %></p>
      </div>
    </div>
    <div class="cl-b"></div>
  </div>
</div>
