<% @page_title = "404" %>
<main class="main bg-blue pv-30">
  <div id= "error" class="error-container container">
    <div class="inner-90">
      <%= image_tag("camel.png", size: "200", alt: "logo") %>
      <div class="box-error-message">
        <h3 class="h3 font-white pv-30">Sorry we couldn't find this record or address</h3>
      </div>
      <a href="/" class="btn-x4">Go back to top</a>
      <a href="/" class="btn-fb"><i class="fa fa-facebook-official mr-5"></i>Share on Facebook</a>
    </div>
  </div>
</main>