<% @page_title = "Invalid Reset Password Access" %>
<main class="main bg-blue pv-30">
  <div id= "error" class="error-container container">
    <div class="inner-90">
      <%= image_tag("camel.png", size: "200", alt: "logo") %>
      <div class="box-error-message">
        <h3 class="h3 font-white pv-30">Sorry your reset password access is expired or invalid</h3>
      </div>
      <a href="/" class="btn-x4">Go back to top</a>
    </div>
  </div>
</main>