<%= form_for(@user, :html => { :multipart => true } ,method: "put", autocomplete: "none", id: "user-edit-form") do %>

      <!-- first section start -->
      
  <div class="md-col12 sm-col12 xs-col12 fl-l box-form-profile txt-right fade-before fade-in">
    <div class="inner-80">
    <h2 class="h4">User Information</h2>
    <div class="txt-center">
      <!-- profile_image  -->
      <div class="img">
        <div id="slide-img" data-is-role="box">
          <% if @user.image_urls.any? || @user.uploaded_images.any? %>
            <% @user.image_urls.each do |image_url| %>
              <img src="<%= image_url.url %>" alt="user_image" class="profile-img-lg slide-image" data-is-role="img">
            <% end %>
            <% @user.uploaded_images.each do |image| %>
              <img src="<%= image.image.url(:profile_lg) %>" alt="user_image" class="profile-img-lg slide-image" data-is-role="img">
            <% end %>
          <% else %>
            <%= image_tag("no_user_image.jpg", class: "profile-img-lg", alt: "user_image") %>
          <% end %>
        </div>
        <div id="ctrl-box" data-is-role="ctrl-box">
        </div>
      </div>
      <div id="image_upload" class="text-center">
       <p>Choose and upload pictures:</p>
       <p><%= file_field_tag "images[]", type: :file, accept: 'image/png,image/gif,image/jpeg,image/jpg' %></p>
      </div>
    </div>
  
    <table class="table-user-profile">
      <th>
      </th>
      <tr>
        <td class="td-left md-col4"><%= label_tag(:email, "EMAIL", class: "label") %></td>
        <td><%= text_field(:user_info, :email, class: "text-form-profile", value: @user.email, "data-validation-engine" => "validate[required,custom[email]]") %></td>
      </tr>
      <tr>
        <td class="td-left md-col4"><%= label_tag(:first_name, "FIRST NAME", class: "label") %></td>
        <td class="md-col8"><%= text_field(:user_info, :first_name, class: "text-form-profile", value: @user.first_name, required: true, "data-validation-engine" => "validate[required]" ) %></td>
      </tr>
      <tr>
        <td class="td-left md-col4"><%= label_tag(:last_name, "LAST NAME", class: "label") %></td>
        <td class="md-col8"><%= text_field(:user_info, :last_name, class: "text-form-profile", value: @user.last_name, required: true, "data-validation-engine" => "validate[required]") %></td>
      </tr>
      <tr>
        <td class="td-left md-col4"><%= label_tag(:gender, "GENDER", class: "label") %></td>
        <td class="md-col8">
          <% if @user.gender_s == "Male" %>  
            Male: <input type="radio" name="user_info[gender]" value="1" checked="checked" required> 
            Female: <input type="radio" name="user_info[gender]" value="2" required> 
          <% else %>
            Male: <input type="radio" name="user_info[gender]" value="1" required> 
            Female: <input type="radio" name="user_info[gender]" value="2" checked="checked" required> 
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="td-left md-col4 td-left"><%= label_tag(:birthday, "BIRTHDAY", class: "label") %> <p><span class="font-small font-red"> Month / Date / Year</p> </td>
        <td class="md-col8">
          <%= select_day(31, class: "input-birthday birthday-day", "data-validation-engine" => "validate[required]") %>
          <%= select_month(12, class: "input-birthday birthday-month", "data-validation-engine" => "validate[required]") %>
          <%= select_year(2009, start_year: 1910, end_year: 2010, class: "input-birthday birthday-year", "data-validation-engine" => "validate[required]") %>
          <%= hidden_field(:user_info, :birthday, value: @user.birthday, placeholder: "Date", "format" => "  YYYY/MM/DD", "max" => "2000/01/01", required: true, "data-validation-engine" => "validate[required, custom[date], past[2000-01-01]]") %>
        </td>
      </tr>
      <!-- <tr>
        <td class="td-left md-col4 td-left"><%= label_tag(:phone_number, "PHONE NUMBER", class: "label") %> <p><span class="font-small font-red"></span></p> </td>
        <td class="md-col8">
          <%= select_day(31, class: "input-birthday birthday-day") %>
        </td>
      </tr> -->
      <tr>
        <td class="td-left md-col4"> <%= label_tag(:cit, "CITY", class: "label") %>  <p class="font-small font-red">Please type 4 - 5 letters of the city name and choose it <strong>from list</strong></p></td>
          
        <td class="md-col8">
          <% if !@user.city.nil? %>
            <%= text_field(:cti, :name , value: @user.city.name, class: "text-form-profile", id:"autocomplete", autocomplete: "off", size:40,    onkeypress: "if (event.keyCode == 13) { return false;}", "data-validation-engine" => "validate[required]") %>
          <% else %>
            <%= text_field(:cti, :name, class: "text-form-profile", id:"autocomplete", autocomplete: "false", size:40,  onkeypress: "if (event.  keyCode == 13) { return false; }", "data-validation-engine" => "validate[required]") %>
          <% end%>
          <input type="hidden" name="cti[latitude]" id="latitude">
          <input type="hidden" name="cti[longitude]" id="longitude">
          <input type="hidden" name="cti[google_place_id]" id="google_place_id" data-validation-engine="validate[required]"  >
        </td>
      </tr>
    </div>
    </table>
  </div>
  </div>
      <!-- second section col -->
  <div class="md-col12 sm-col12 xs-col12 fl-l box-form-profile fade-before fade-in">
    <div class="inner-80">
      <h2 class="h4">Optional</h2>
      <table class="table-user-profile">
        <th>
        </th>
        <tr>
          <td class="md-col4"><%= label_tag(:description, "Introduction", class: "label") %></td>
          <td class="md-col8"><%= text_area(:user_info, :description, class: "text-form-profile textarea-profile-introduction", value: @user.description) %></td>
        </tr>
        
        <tr>
          <td class="md-col4">
            <%= label_tag(:language, "Language", class: "label") %>
          </td>
          <td class="md-col8">
            <div id="magicsuggest-language" class="ms-ctn-h-100"></div>
            <p>* You can choose multiple languages</p>
          </td>
        </tr>

        <tr>
          <td class="md-col4"><%= label_tag(:tag, "work", class: "label") %></td>
          <td class="md-col8">
            <%= text_field(:user_info, :work, class: "text-form-profile", value: @user.work) %>
          </td>
        </tr>
  
        <tr>
          <td class="md-col4"><%= label_tag(:tag, "Tag", class: "label") %></td>
          <td class="md-col8">
            <div id="magicsuggest-tag" class="ms-ctn-h-200"></div>
            <div>* What is your favorite music? Where do you want to travel? Hobby? Game, Movie, Sports, Food</div>
          </td>
        </tr>
      </table>
   </div>
  </div>
       
  <div class="md-col12 sm-col12 xs-col12 fl-l box-form-profile fade-before fade-in">
    <div class="inner-80">
      <h5 class="h5">We are preparing SSN & Passport Verification</h5>
      <!-- <h2 class="h4">Verification</h2> -->
<!--       <table>
        <th>
        </th>
        <tr>
          <td class="md-col4"><%= label_tag(:ssn_last_four_digits, "Last 4 digits of SSN", class: "label") %></td>
          <td class="md-col8">
           <p>
             <%= number_field(:user_verification, :ssn_last_four_digits, class: "text-form-profile") %>
           </p>
           <p>* We don't keep your SSN information in our database.</p>
          </td>
        </tr>
        <tr>
          <td class="md-col4"><%= label_tag(:passport_number, "Passport Number", class: "label") %></td>
          <td class="md-col8">
           <p>
            <%= text_field(:user_verification, :passport_number, class: "text-form-profile") %>
           </p>
           <p>* We don't keep your Passport Number information in our database.</p>
          </td>
        </tr>
        <tr>
          <td class="md-col4"><%= label_tag(:language, "STREET", class: "label") %></td>
          <td class="md-col8"><%= text_field(:user_verification, :steet, class: "text-form-profile") %></td>
        </tr>
        <tr>
          <td class="md-col4"><%= label_tag(:tag, "CITY", class: "label") %></td>
          <td class="md-col8"><%= text_field(:user_verification, :city, class: "text-form-profile") %></td>
        </tr>
      </table> -->
    </div>
  </div>
  <!-- forth -->
  <div class="md-col12 sm-col12 xs-col12 fl-l box-form-profile fade-before fade-in">
    <div class="inner-80">
      <h5 class="h5">We are preparing Account setting</h5>
     <!--  <h2 class="h4">Account Setting</h2>
      <table>
        <th>
        </th>
        <tr>
          <td class="md-col4"><%= label_tag(:ssn_last_four_digits, "Last 4 digits of SSN", class: "label") %></td>
          <td class="md-col8">
           <p>
             <%= number_field(:user_verification, :ssn_last_four_digits, class: "text-form-profile") %>
           </p>
           <p>* We don't keep your SSN information in our database.</p>
          </td>
        </tr>
        <tr>
          <td class="md-col4"><%= label_tag(:passport_number, "Passport Number", class: "label") %></td>
          <td class="md-col8">
           <p>
            <%= text_field(:user_verification, :passport_number, class: "text-form-profile") %>
           </p>
           <p>* We don't keep your Passport Number information in our database.</p>
          </td>
        </tr>
        <tr>
          <td class="md-col4"><%= label_tag(:language, "STREET", class: "label") %></td>
          <td class="md-col8"><%= text_field(:user_verification, :steet, class: "text-form-profile") %></td>
        </tr>
        <tr>
          <td class="md-col4"><%= label_tag(:tag, "CITY", class: "label") %></td>
          <td class="md-col8"><%= text_field(:user_verification, :city, class: "text-form-profile") %></td>
        </tr>
      </table> -->
    </div>
  </div>
  <!-- submit button -->
  <div class="section sm-cl-b txt-center pv-60">
     <p class="mt-15"><%= submit_tag("Submit", class: "btn-x1 btn-wide") %>
     <a href="" class="user-edit-next btn-gray">Next<i class="fa fa-arrow-circle-o-right ml-5"></i></a>
     </p>
  </div> 
<% end %>
