<%= render partial: "layouts/partial/profile_image", locals: { user: @user } %>
<h3 class="h3 txt-center mt-5"><%= @user.first_name %> <%= @user.last_name %></h3>
  <p class="txt-center mt-5"><%= city_name_from_user(@user) %></p>
  <p class="txt-center mt-5"><%= @user.gender_s %></p>
  <% if is_current_user?(@user.id) %>
    <p class="txt-center mt-15">
      <a href="/users/<%= current_user.id %>/edit">Edit Profile</a>
    </p>
  <% end %>
  <p class="txt-center mt-15">
    <li class="facebook fl-l"></li>
    <li class="twitter fl-l"></li>
  </p>

<div class="cl-b">
  <div class="pt-50">
    <label for="introduction" class="label font-light">Introduction</label>
    <p class="description cl-b mt-5"><%= @user.description %></p>
  </div>
  <div class="pt-50"></div>
    <label for="language" class="label txt-center">Language</label>
    <p id="language" class="mt-5">
      <% @user.languages.each do |lang| %>
        <%= lang.name %>
      <% end %>
    </p>
  </div>
  <div class="pt-50"></div>
    <label for="tags" class="label">Tags</label>
    <p id="list-tag" class="mt-5">
      <% @user.tags.each do |tag| %>
        <span class="tag mt-5"><%= tag.title %></span>
      <% end %>
    </p>
  </div>
</div>