<div class="card-review bg-white">
  <div class="content">
    <div class="inner-card">
      <h4 class="h5"><%= review.title %></h4>
    </div>
  </div>
  <div class="bottom bd-top">
    <div class="inner-card">
      <% review.rating.to_i.times do %><i class=
      "fa fa-star star"></i> <% end %>
      <p class="fl-r cl-b">
      <%= review.created_at.strftime('%x') %></p>
      <p class="mt-15"><%= simple_format(review.body) %></p>
    </div>
  </div>
</div>
