<% @page_title = @tour.title + " - Offer" %>
<div class="md-col12 bg-special content-header pd-tp-100">
  <h1 class="h2 txt-center"><%= @tour.title %></h1>
  <p class="txt-center"><%= @tour.tour_date.strftime('%x') %> | <%= @tour.start_time.strftime('%H:%M') %> - <%= @tour.end_time.strftime('%H:%M') %></p>
</div>
<main class="main pt-50">
  <div class="md-col12 cl-b">
    <div class="container-2">
      <!-- <h1 class="h1 txt-center"></h1> -->
      <div class="md-col12 fl-l">
        <p><%= simple_format(@offer.tour_description) %></p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="md-col12 cl-b" id="message-content">
    <div class="inner-80 bd-top pv-30">
      <div class="md-col7 fl-l">
        <div class="fl-l txt-center mr-30">
          <p class="font-small-bold">Traveler</p>
          <div class="img">
            <img alt="profile-img" class="profile-img" src="<%= print_user_image(get_user(@tour.traveler.id), "small")%>" />
          </div>
          <h6 class="h6">
            <a href="/users/<%= @tour.traveler.id %>"><%= @tour.traveler.first_name %> <%= @tour.traveler.last_name %></a>
          </h6>
        </div>
        <div class="fl-l txt-center">
          <p class="font-small-bold">Local</p>
          <div class="img">
            <img alt="" class="profile-img" src="<%= print_user_image(get_user(@offer.guide_id), "small") %>" />
          </div>
          <h6 class="h6">
            <a href="/users/<%= @offer.guide_id %>">
              <%= @offer.guide_first_name %>
              <%= @offer.guide_last_name %>
            </a>
          </h6>
        </div>

      </div>
      <div class="md-col5 fl-l">
        <span class="h5">Offered fee from locals</span> $ <span class="h2"><%= find_offer(params[:id]).price %></span></p>
        <% if tour_ended?(@tour) %>
          <span class="alert-tag">This tour is ended.</span>
        <% elsif acceptable?(@offer) %>
          <p id="offer-accept" class="btn-x3 accept txt-center" onClick="ga('send', 'event', 'pos', 'show', 'accept', '<%= @offer.id %>');">Accept</p>
          
        <% elsif @offer.canceled == true && @offer.accepted? == true %>
          <p>This offer is canceled</p>

        <% elsif is_current_user?(@offer.guide_id)%>
          <p>Please wait for being accepted</p>

        <% elsif is_current_user?(@offer.guide_id) && @offer.accepted? == true %>
          <button id="offer-cancel" class="btn-x2 cancel-btn" >Cancel</button>

        <% elsif is_current_user?(@offer.guide_id) && @offer.accepted? == true && cancel_fee?(@tour)%>
          <button id="offer-cancel" class="btn-x2 cancel-btn-with-fee" >Cancel</button>
          
        <% elsif is_current_user?(@tour.guide_id)  %>
          <p class="font-small link-red mt-15">Your offer is already accepted by this traveler.</p>

        <% elsif is_current_user?(@tour.traveler_id) && @offer.accepted? == true %>
          <p>Cancel Policy</p>
          <button id="offer-cancel" class="btn-x2 cancel-btn">Cancel</button>
        <% else %>
        
        <% end %>
      </div>
      <div class="cl-b"></div>
    </div>
  </div>

  <div class="bg-lightgray cl-b pv-30">
    <div class="inner-80">
    <div class="md-col7 fl-l">
      <h4 class="h4">Messages</h4>
      <div class="pr-30">
        <div class="cl-b">
          <p class="card-message-profile">
            <a href=""><%= @offer.guide_first_name %></a>
          </p>
          <div class="card-message">
            <p class="font-small">This is a offer message</p>
            <p class="mt-15"><%= @offer.message %></p>
          </div>
        </div>
        <% @offer.messages.each do |message| %>
          <div class="cl-b">
            <% if is_current_user?(message.sender_id) %>
              <div>
                <p class="card-message-profile">
                  <a href=""><%= message.sender_first_name %></a>
                </p>
                <div class="card-message">
                  <p><%= simple_format(message.body) %></p>
                </div>
              </div>
            <% else %>
              <div class="txt-right container-message">
                <p class="card-message-profile">
                  <a href=""><%= message.sender_first_name %></a>
                </p>
                <div class="card-message">
                  <p><%= simple_format(message.body) %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="md-col5 fl-l mt-30" id="">
      <div class="inner80">
       <% if tour_ended?(@tour) && reviewed?(@offer)%>
         <p>Your review is already sent</p>
       <% elsif reviewable?(@offer) %>
         <h5 class="h5">Tour is Ended. Please write a review.</h5>
         <%= form_tag("/tours/#{@tour.id}/offers/#{@offer.id}/review", method: "post") do %>
           <%= text_area(:review, :body, cols: 50, rows: 10) %>
           <div class="section">
             <%= submit_tag("Post Review", class: "btn-x1") %>
           </div>
         <% end %>
       <% else %>
         <h5 class="h5">Send message</h5>
         <%= form_tag("/tours/#{@tour.id}/offers/#{@offer.id}/message", method: "post") do %>
           <%= text_area(:message, :body, cols: 50, rows: 10) %>
           <div class="section">
             <%= submit_tag("Send Message", class: "btn-x1") %>
           </div>
         <% end %>
       <% end %>
      </div>
    </div>
  </div>
  <div class="cl-b"></div>
</main>
<div class="form-popup payment-box">
  <%= form_tag("/charges", method: "post") do %>
    <div class="head">
      <div class="">
        <article>
          <div><%= image_tag("Card-Logo.png", class: "card-logo", alt: "payment") %></div>
          <label class="amount">
            <p class="font-small">Offer Fee: $<span class="h6"><%= @offer.price %></h3></p>
            <p class="font-small">3% Fee for credit card: $<span class="h6"><%= @offer.stripe_fee %></span></p>
            <p class="font-small">In total: $<span class="h4"><%= calculate_in_total(@offer) %></span></p>
          </label>
        </article>
      </div>
    </div>
    <div class="body">
      <input name="price" type="hidden" value="<%= calculate_in_total(@offer) %>" />
      <input name="receiver" type="hidden" value="<%= @offer.guide_id %>" />
      <input name="description" type="hidden" value="<%= @tour.title %>" />
      <input name="offer_id" type="hidden" value="<%= @offer.id %>" />
      <p class="font-small">Check<a href="/" href=""> Payment & Cancel policy </a></p>
      <input 
            type="submit" 
            id="stripe-btn"
            class="btn-x2 mt-15 stripe-btn"
            value="Open payment form"
            data-key="pk_test_5OkWt96cuFZGlYSsn6nKVMu2"
            data-amount="<%= calculate_in_total(@offer) * 100 %>"
            data-currency="usd"
            data-name="OrderTrip Inc"
            data-description="<%= @tour.title %>"
            data-allow-remember-me=true
        />
      <div><%= image_tag("stripe-big.png", class: "stripe-logo mt-15", alt: "stripe-logo", onClick:"ga('send', 'event', 'pos', 'submit', 'offer-accept', '#{@offer.id}');" ) %></div>
    </div>
  <% end %>
</div>
<script src="https://checkout.stripe.com/checkout.js"></script>