<% @page_title = "Reviews - Dashboard" %>
<div class="md-col12 sm-col12 xs-col12 bg-special content-header pd-tp-100">
	<h1 class="h2 txt-center">Dashboard</h1>
</div>
<main class="main">
  <%= render partial: "dashboards/partial/nav" %>
  <div class="md-col12 sm-col12 xs-col12 cl-b bg-lightgray">
  	<!-- <section id="left-column" class="sm-hide left-col md-col4 fl-l pt-50">
  	  <div class="inner-80">
  	  	<%= render partial: "layouts/partial/profile_dashboard", locals: { user: current_user } %>
  	  </div>
  	</section> -->
<!--   
  	<section class=" sm-col12 xs-col12 fl-l bg-lightgray">
  	  <div class="inner-80">
  	  	<h2 class="h5 mt-30">Reviews</h2>
  	  	<% if current_user.reviews.any?  %>
  	  	  <% current_user.reviews.each do |review| %>
  	  	  	<%= render partial: "dashboards/partial/review", locals: { review: review } %>
  	  	  <% end %>
  	  	<% else %>
  	  	  <h4 class="h4 alert-tag">*You don't have any reviews.</h4>
  	  	<% end %>
  	  	</div>
  	  </div>
  	</section> -->
  	dksododk
  	<%= yield :profile%>
  </div>
</main>

<script>(function(e,t,s,c){var n,o,r;e.SMCX=e.SMCX||[],t.getElementById(c)||(n=t.getElementsByTagName(s),o=n[n.length-1],r=t.createElement(s),r.type="text/javascript",r.async=!0,r.id=c,r.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/z9yF_2FrKYbMdoREBudCXJlgOclhBFjCF8X93pvOCOaisqTeAzgD0cnArVx0sQxGCm.js"].join(""),o.parentNode.insertBefore(r,o))})(window,document,"script","smcx-sdk");</script>