<% @page_title = "Profile - Dashboard" %>
<div class="md-col12 sm-col12 xs-col12 bg-special content-header pd-tp-100">
	<h1 class="h2 txt-center">Dashboard</h1>
</div>
<main class="main">
  <%= render partial: "dashboards/partial/nav" %>
  <div class="md-col12 sm-col12 xs-col12 bg-lightgray">
  	<!-- <section id="left-column" class="sm-hide left-col md-col4 fl-l pt-50">
  	  <div class="inner-80">
  	  	<%= render partial: "layouts/partial/profile_dashboard", locals: { user: current_user } %>
  	  </div>
  	</section> -->
    <div class="inner-80">
      <div class="pv-30">
        <div class="bg-white card pv-20">
          <%= render partial: "layouts/partial/profile_image", locals: { user: current_user } %>
          <h2 class="h2 txt-center mt-5"><%= current_user.full_name %></h2>
          <h5 class="h6 txt-center"><i class="fa fa-suitcase mr-5"></i><%= current_user.work %></h5>
          <p class="txt-center mt-5"><i class="fa fa-map-marker mr-5 font-red"></i><%= city_name_from_user(  current_user) %></p>
          <p class="txt-center mt-5"><span class="mr-5"><%= current_user.age %> years old</span></p>
          <p class="txt-center mt-5"><i class="fa fa-venus-mars mr-5"></i><%= current_user.gender_s %></span></p>
          
          <% if is_current_user?(current_user.id) %>
            <p class="txt-center mt-15">
              <a href="/users/<%= current_user.id %>/edit">Edit Profile</a> |
              <%=link_to "Delete this account", user_path(current_user), :class => "link-red user-delete-confirm"%>
            </p>
          <% end %>
          <div class="md-col12">
            <ul class="txt-center member-status">
              <li class="panel-member-status">
                <p class="font-small">MEMBER SINCE</p>
                <h4 class=""><%= user_print_member_since(current_user) %></h4>
              </li>
              <li class="panel-member-status">
                <p class="font-small">REVIEWS</p>
                <h4 class=""><%= current_user.reviews_count %></h4>
              </li>
            </ul>
          </div>
  
          <div class="md-col12 pb-100">
            <div class="box-verification txt-center mt-15">
           　　<div class=" txt-center">
                <div class="line-verification txt-center sm-mt-20">
           　　    <li class="<%= print_facebook_status(current_user) %>"></li>
           　　    <li class="font-small mt-5">FACEBOOK</li>
           　　  </div>
                <div class="line-verification txt-center sm-mt-20">
           　　    <li class="<%= print_phone_status(current_user) %>"></li>
           　　    <li class="font-small mt-5">PHONE</li>
                </div>
                <div class="line-verification txt-center sm-mt-20">
           　　    <li class="<%= print_driver_license_status(current_user) %>"></li>
           　　    <li class="font-small mt-5">DRIVER ID</li>
                </div>
                <div class="line-verification txt-center sm-mt-20">
           　　    <li class="<%= print_criminal_record_status(current_user) %>"></li>
           　　    <p class="font-small mt-5">CRIMINAL</p>
           　　    <p class="font-small">RECORD</p>
                </div>
           　  <div class="cl-b"></div>
           　</div>
          </div>
          <div class="cl-b"></div>
        </div>
      </div>
      <div class="cl-b">
        <div class="pt-50">
          <label for="" class="label">INTRODUCTION</label>
          <p class="description cl-b mt-5"><%= current_user.description %></p>
        </div>
        <div class="pt-50"></div>
          <label for="" class="label txt-center">LANGUAGES</label>
          <p id="language" class="mt-5">
            <% current_user.languages.each do |lang| %>
              <%= lang.name %>
            <% end %>
          </p>
        </div>
        <div class="pt-50"></div>
          <label for="" class="label">TAGS</label>
          <p id="list-tag" class="mt-5">
            <% current_user.tags.each do |tag| %>
              <span class="tag mt-5"><%= tag.title %></span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
   
<script>(function(e,t,s,c){var n,o,r;e.SMCX=e.SMCX||[],t.getElementById(c)||(n=t.getElementsByTagName(s),o=n[n.length-1],r=t.createElement(s),r.type="text/javascript",r.async=!0,r.id=c,r.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/z9yF_2FrKYbMdoREBudCXJlgOclhBFjCF8X93pvOCOaisqTeAzgD0cnArVx0sQxGCm.js"].join(""),o.parentNode.insertBefore(r,o))})(window,document,"script","smcx-sdk");</script>
