<% @page_title = "Offers - Dashboard" %>
<div class="md-col12 bg-special content-header pd-tp-100">
  <h1 class="h2 txt-center">Dashboard</h1>
</div>
<main class="main">
  <%= render partial: "dashboards/partial/nav" %>
  <div class="md-col12 sm-col12 xs-col12 bg-lightgray">
    <section class="md-col12 sm-col12 xs-col12 right-col fl-l sm-pt-10 bg-lightgray">
      <div class="inner-80">
      	<h2 class="h5 mt-30">Your Offers</h2>
      	<% if @offers.any? %>
      	  <table id="table-offer" class="table table-hover mt-5">
      	    <thead class="thead">
      	      <tr>
      	        <th class="thead cell">Tour Date</th>
      	        <th class="thead cell">Title</th>
      	        <th class="thead cell">Status</th>
      	        <th class="thead cell">Offer detail</th>
      	        <th class="thead cell"></th>
      	      </tr>
      	    </thead>
      	    <tbody>
      	      <% @offers.each do |offer| %>    
      	        <tr class="tr bg-white">
      	          <td class="cell"><%= offer.tour.tour_date.strftime('%x') %></td>
      	          <td class="cell tabel-tour-title"><a href="/tours/<%= offer.tour.id %>" class=""><%= offer.tour.title %></a></td>
      	          <td id="status" class="cell <%= print_status_class_offer(offer) %>"></td>
      	          <td class="cell cell-static"><a href="/tours/<%= offer.tour.id %>/offers/<%= offer.id %>" class="btn-small-x1 shrink-btn">See Offer</a></td>
      	          <td class="cell"><a href="" class="">Edit</a> / <a href="" class="link-red delete-confirm">Delete</a></td>
      	        </tr>
      	      <% end %> 
      	    </tbody>
      	  </table>	
      	  <!-- offers and offers -->
      	<% else %>
      	  <!-- <a href="/">Search orders</a> -->
      	<% end %>
      </div>
    </section>
  </div>
</main>
