<% @page_title = "Orders - Dashboard" %>
<div class="md-col12 bg-special content-header pd-tp-100">
  <h1 class="h2 txt-center">Dashboard</h1>
</div>
<main class="main">
  <%= render partial: "dashboards/partial/nav" %>
  <div class="md-col12 sm-col12 xs-col12 bg-lightgray">
  	<section class="md-col12 sm-col12 xs-col12 right-col fl-l right-col sm-pt-10 bg-lightgray">
  	  <div class="inner-80">
  	  	<h2 class="h5 mt-30">Your Orders</h2>
  	  	<% if @orders.any? %>
  	  	  <table id="table-order" class="table table-hover mt-5">
  	  	    <thead class="thead">
  	  	      <tr>
  	  	        <th class="th">Tour Date</th>
  	  	        <th class="th">Title</th>
  	  	        <th class="th">City</th>
  	  	        <th class="th">Status</th>
  	  	        <th class="th"></th>
  	  	      </tr>
  	  	    </thead>
  	  	    <tbody>
  	  	  	  <% @orders.each do |order| %>
  	  	  	    <tr class="tr bg-white">
  	  	  	      <td class="cell"><%= order.tour_date_dmy %></td>
  	  	  	      <td class="cell" class="tabel-tour-title"><a href="/tours/<%= order.id  %>" class=""><%= order.title %></a></td>
  	  	  		    <td class="cell"><%= city_name(order.city_id) %></td>
  	  	  	      <td id="status" class="cell <%= print_status_class(order) %>"></td>
  	  	  		    <td class="cell">
  	  	  	      	<% if editable?(order) %>
  	  	  		        	<a href="" class="">Edit</a> / 
  	  	  		        	<%=link_to "Delete", tour_path(order.id), :class => "link-red delete-confirm"%>
  	  	  		      <% end %>
  	  	  		    </td>
  	  	  	    </tr>
  	  	  	  <% end %> 
  	  	    </tbody>
  	  	  </table>	
  	  	  <!-- Orders and offers -->
  	  	  <% @orders.each do |order| %>
  	  	  	<% if has_any_offers?(order) %>
  	  	  	  <h3 class="h5 mt-30"><%= order.tour_date.strftime('%x') %> | 	<a href="/tours/<%= order.id %>"><%= order.title %></a></h3>
  	  	  	  <table class="table table-hover mt-5">
  	  	  	    <thead class="thead">
  	  	  	      <tr>
  	  	  	        <th class="th">Offering User</th>
  	  	  	        <th class="th"></th>
  	  	  	        <th class="th">Status</th>
  	  	  	        <th class="th">Fee</th>
  	  	  	        <th class="th"></th>
  	  	  	      </tr>
  	  	  	    </thead>
  	  	  	    <tbody>
  	  	  	      <% order.offers.each do |offer| %>
  	  	  	  	    <tr class="tr bg-white">
  	  	  	  	      <td class="cell">
                        <img src="<%= print_user_image(get_user(offer.guide_id), "small") %>" class="profile-img-xs mr-10"><%= show_first_name(get_user(offer.guide_id)) %>
                      </td>
  	  	  	  	      <td class="cell"></td>
  	  	  	  	      <td id="status" class="cell  <%= print_status_class_offer(offer)  %>"></td>
  	  	  	  	      <td class="cell" class="tabel-tour-title">$<%= offer.price %></td>
  	  	  	  	      <td class="cell"> <a href="/tours/<%= order.id %>/offers/<%= offer.id %>" class="btn-small-x1 shrink-btn">See Offer</a></td>
  	  	  	  	    </tr>
  	  	  	  	  <% end %>
  	  	  	  	<!--       <tr class="tbody bg-white">
  	  	  	  	        <td class="cell">Bob</td>
  	  	  	  	        <td class="cell"></td>
  	  	  	  	        <td id="status" class="cell progress"></td>
  	  	  	  	        <td class="cell" class="tabel-tour-title">$90</td>
  	  	  	  	        <td class="cell">-</td>
  	  	  	  	      </tr> -->
  	  	  	    </tbody>
  	  	  	  </table>	
  	  	  	<% end %>
  	  	  <% end %>
  	  	<% else %>
  	  	  <a href="/tours/new">Post your ideal tour</a>
  	  	<% end %>
  	  </div>
  	</section>
  </div>
</main>
