<% @page_title = "Transaction - Dashboard" %>
<div class="md-col12 bg-special content-header pd-tp-100">
  <h1 class="h2 txt-center">Dashboard</h1>
</div>
<main class="main">
  <%= render partial: "dashboards/partial/nav" %>
  <div class="md-col12 sm-col12 xs-col12 bg-lightgray">
    <section class="md-col12 sm-col12 xs-col12 right-col fl-l sm-pt-10 bg-lightgray">
      <div class="inner-80">
        <h5 class="h5 mt-30">Transaction</h5>
        <div class="mt-30"></div>
  	  	<% if current_user.charging %>
  	  	  <span class="h6 mt-30">IN</span><span class="font-small"> ( Because your offer is accepted ) </span>
  	  	  <table class="table table-hover">
  	  	    <thead class="thead">
  	  	      <tr>
  	  	        <th class="th">Tour Date</th>
  	  	        <th class="th">Title</th>
  	  	        <th class="th">User</th>
  	  	        <th class="th">Payment Day</th>
  	  	        <th class="th">Status</th>
  	  	        <th class="th">Amount</th>
  	  	      </tr>
  	  	    </thead>
  	  	    <tbody>
  	  	  	<% current_user.charging.each do |charging| %>
  	  	  	  <tr class="tr bg-white">
  	  	  	    <td class="cell"><%= charging.created_at.strftime('%x') %></td>
  	  	  	    <td class="cell" class="tabel-tour-title"><a href="/tours/<%= charging.tour_id %>/offers/<%= charging.offer_id %>" class=""><%= charging.offer.tour.title %></a></td>
  	  	  	    <td class="cell" class="tabel-tour-title">
  	  	  	    	<a href="/users/<%= get_user(charging.receiver_id).id %>" class="">
  	  	  	    		<%= get_user(charging.receiver_id).first_name %>
  	  	  	    	</a>
  	  	  	    </td>
  	  	  	    <td class="cell"><%= charging.created_at.strftime('%x') %></td>
  	  	  	    <td id="status" class="cell <%= print_status_transaction_css_class(charging) %>"></td>
  	  	  	    <td class="cell">$<%= charging.price %></td>
  	  	  	  </tr>
  	  	  	<% end %>
  	  	    </tbody>
  	  	  </table>	
  	  	<% end %>
        <div class="mt-15"></div>
  	  	<% if current_user.charging %>
  	  	  <span class="h6">OUT</span><span class="font-small"> ( Because you ordered a tour )</span>
  	  	  <table class="table table-hover">
  	  	    <thead class="thead">
  	  	      <tr>
  	  	        <th class="th">Tour Date</th>
  	  	        <th class="th">Title</th>
  	  	        <th class="th">User</th>
  	  	        <th class="th">Payment Day</th>
  	  	        <th class="th">Status</th>
  	  	        <th class="th">Amount</th>
  	  	      </tr>
  	  	    </thead>
  	  	    <tbody>
  	  	  	<% current_user.charged.each do |charged| %>
  	  	  	  <tr class="tr bg-white">
  	  	  	    <td class="cell date"><%= charged.created_at.strftime('%x') %></td>
  	  	  	    <td class="cell" class="tabel-tour-title"><a href="/tours/<%= charged.tour_id %>/offers/<%= charged.offer_id %>" class=""><%= charged.offer.tour.title %></a></td>
  	  	  	    <td class="cell" class="tabel-tour-title">
  	  	  	      <a href="/users/<%= get_user(charged.sender_id).id %>" class="">
  	  	  	    		<%= show_first_name(get_user(charged.receiver_id)) %>
  	  	  	      </a>
  	  	  	    </td>
  	  	  	    <td class="cell date"><%= charged.created_at.strftime('%x') %></td>
  	  	  	    <td id="status" class="cell <%=print_status_transaction_css_class(charged) %>"></td>
  	  	  	    <td class="cell">$<%= charged.total_price %></td>
  	  	  	  </tr>
  	  	  	<% end %>
  	  	    </tbody>
  	  	  </table>	
  	  	<% end %>
      </div>
    </div>
  </div>
</main>