<% @page_title = "Private customized tour hosted by locals" %>
<%= render partial:"cities/partial/title" %>
<main class="main md-col12 xs-col12 sm-col12 md-col12 lg-col12 cl-b">
  <%= render partial:"cities/partial/how_it_works" %>
  <%= render partial:"cities/partial/why_us" %>
  <%= render partial:"cities/partial/locals_map" %>
  <%= render partial:"cities/partial/show_current_tours" %>
</main>

<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&language=en&libraries=places&callback=initialize"
        async defer></script>
<script>
// var autocomplete;
function initialize() {
   var myLatlng = {lat: 37.7833, lng: -122.4167};

	var map = new google.maps.Map(document.getElementById('map'), {
	  zoom: 2,
	  center: myLatlng,
	  scrollwheel: false,
	  navigationControl: false,
	  mapTypeControl: false,
	  streetViewControl: false
	});

	setMarkers(map);
}

function setMarkers(map) {
  var result;
  $.ajax({
      url: 'cities/locals_locations',
      type: 'GET',
      async: false,
      success: function(data) {
        result = data;
      }
  });

  var locations = result;

  for (var i = 0; i < locations.length; i++) {
    var location = locations[i];
    var lat = parseFloat(location[0]);
    var lng = parseFloat(location[1]);

    var marker = new google.maps.Marker({
      position: {lat: lat, lng: lng},
      // icon: image,
      map: map
    });
   	marker.addListener('click', function() {
	  map.setZoom(8);
	  map.setCenter(marker.getPosition());
	});

  }
}
</script>
