<% 
@page_title = @city.name + " local guides" 
@page_keywords = [@city.name]
%>
<div class="md-col12 bg-special content-header pd-tp-100">
  <h1 class="h2 txt-center"><%= @city.name %> locals</h1>
</div>
<main class="main pt-50">
  <%= render partial: "cities/partial/tab" %>
  <section class="md-col12 bg-lightgray list">	
    <div class="inner-90 sm-inner-100">
      <% if @users.any? %>
        <% @users.each do |user| %>
          <div class="card-profile fl-l">
            <div class="head">
              <div class="img fl-l">
                <img src="<%= print_user_image(user, "large") %>">
              </div>
              <div class="box fl-l">
                <p id="username" class="h4"><a href="/users/<%= user.id %>"><%= user.first_name %></a></p>
                <p id="city" class="font-small">San Francisco</p>
                <p id="star" class="">
                 60 reviews
              </div>
            </div>
            <div class="bottom cl-b">
              <div class="mt-15">
                <p class="description"><%= user.description %></p>
              </div>
              <div class="mt-15">
              	<label for="" class="h6">- Language</label>
              	<p id="language">
              		<% user.languages.each do |lang| %>
              			<%= lang.name %>
              		<% end %>
              	</p>
              </div>
              <div class="mt-15">
              	<p id="list-tag">
              		<% user.tags.each do |tag| %>
              			<span class="tag"><%= tag.title %></span>
              		<% end %>
              	</p>
              </div>
            <!-- Show tags most related current_user -->
            <!-- Facebook like -->
            <!-- interested user --> 		
            </div>
          </div>
        <% end %>
      <% else %>
        <h3>There is no locals in <%= @city.name %></h3>
      <% end %>
    </div>
  </section>
</main>