<% 
  @page_title = @city.name + " tours" 
  @page_keywords = [@city.name]
%>
<div class="md-col12 bg-special content-header pt-100">
  <h1 class="h2 txt-center"><%= @city.name %> tours</h1>
</div>
<main class="main pt-50">
  <%= render partial: "cities/partial/tab" %>
  <section class="md-col12">
    <div id="left" class="bg-lightgray fl-l md-col5 sm-col12 xs-col12">
	  <div class="inner-100">
	    <% if !@tours.nil? %>
	  	  <% @tours.each do |tour| %>
	  	    <%= render partial: "cities/partial/tour_card", locals: { tour: tour } %>
	  	  <% end %>
	  	<% end %>
	  </div>
	  <!-- End inner container -->	
	</div>
    <div id="right" class="md-col7 sm-col12 xs-col12 right-col map-size fl-r sm-hide">
    	<!-- <div class="map"> -->
      <div id="map" class="map-size sm-hide" style="width:100%; height:450px;"></div>
    	<!-- </div>. -->
    </div>
  </section>
</main>

<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&language=en&callback=initMap"
        async defer></script>
<script>

function initMap() {
  var geolocation = <%= raw city_geolocation_hash(@city) %>;
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: {lat: geolocation[0], lng: geolocation[1]},
	scrollwheel: false,
	navigationControl: false,
	mapTypeControl: false,
	streetViewControl: false
  });

  setMarkers(map);
}

var beaches = <%= raw destinations_geolocation_array_from_city(@city) %>;

function setMarkers(map) {

  var shape = {
    coords: [1, 1, 1, 20, 18, 20, 18, 1],
    type: 'poly'
  };

  for (var i = 0; i < beaches.length; i++) {
    var beach = beaches[i];
    var marker = new google.maps.Marker({
      position: {lat: beach[1], lng: beach[2]},
      map: map,
      shape: shape,
      title: beach[0],
      zIndex: beach[3]
    });
  }
}

</script>

