// Place all the styles related to the base controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

//====== Variable for padding =========


@main-body-padding: 30px;


//****** btn **********


@btn-side-padding: 24px;
@btn-vertical-padding: 12px;


//====== Variable for margin =========


@grid-margin: 20px;


//====== Variable for width =========


@grid-1: 55px;


//====== Initialize =========


body {
  font-family: @base-font-family !important;
  font-size: 14px;
  color: @font-color-regular;
  height: 100%;
  width: 100%;
  margin: 0 !important;
  letter-spacing: 0.7px;
}

a {
  color: @lightblue;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: @lightblue-shadow;
  }
}

ul {
  li {
  	display:inline
  }
}

li {
  list-style-type: none;
}

p {padding: 0;}

.debug {
  border: 1px solid @red;
}

.space {
  width:100%;
  height: 30px;
}

//********* box **************


.box-little{
  width:25px;
  height:25px;
}

.box-sq {
  width: 256px;
  height: 256px;
  margin-right: 30px;
}

.box-rec {
  width: 256px;
  height: 320px;
  margin-right: 30px;
}


//************ border *************


.bd-top {
	border-top:1px solid @gray;
}

.bd-right {
  border-right: 1px solid lightgray;
}


//*********** background-color **************


.bg-white {
  background-color: @white !important;
}

.bg-lightgray {
  background-color: @lightgray !important;
}

.bg-gray {
  background-color: @gray !important;
}

.bg-yellow {
  background-color: @yellow !important;
}

.bg-red {
  background-color: @red !important;
}

.bg-blue {
  background-color: @blue !important;
}

.bg-lightblue {
  background-color: @lightblue !important;
}

.icon-image {
  width: auto;
  height: 128px;
}

.duration {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.fade-before {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.flash {
  position: relative;
  top: 100;
  left: 0;
  width:100%;
  line-height:60px;
  color: white;
  text-align: center;
  // background-color: white;
}

.success {
  background-color: @yellow;
}

.error {
  background-color: @red;
}

.error-container {
	padding-top: 100px;
	background-color: @green;
}

.over-scroll {
  overflow: auto;
}

.container-2 {
  width: 80%;
  margin: 20% auto;
  margin-top: 0;
  margin-bottom: 50px;
  padding:20px 0px;
}




//  *************$%$%$ SmartPhone or Tablet $%$%$*****************
//******************************************************************



@-ms-viewport{
  width: device-width;
}

@media screen
and (max-device-width : 481px){

  body {
    width: 100%;
    font-size: 14px;
  }


  a {
    color: @lightblue;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: @lightblue-shadow;
    }
  }
  
  ul {
    li {
      display:inline
    }
  }
  
  li {
    list-style-type: none;
  }
  
  p {padding: 0;}
  
  .debug {
    border: 1px solid @red;
  }
  
  .space {
    width:100%;
    height: 30px;
  }


  //********* box **************
  
  
  .box-little{
    width:25px;
    height:25px;
  }
  
  .box-sq {
    width: 256px;
    height: 256px;
    margin-right: 30px;
  }
  
  .box-rec {
    width: 256px;
    height: 320px;
    margin-right: 30px;
  }
  
  
  //************ border *************
  
  
  .bd-top {
    border-top: 1px solid @gray;
  }
  
  .bd-right {
    border-right: 1px solid lightgray;
  }
  
  
  //*********** background-color **************
  
  
  .bg-white {
    background-color: @white !important;
  }
  
  .bg-lightgray {
    background-color: @lightgray !important;
  }
  
  .bg-yellow {
    background-color: @yellow !important;
  }
  
  .bg-red {
    background-color: @red !important;
  }
  
  .bg-blue {
    background-color: @blue !important;
  }
  
  .bg-lightblue {
    background-color: @lightblue !important;
  }
  
  .icon-image {
    width: auto;
    height: 128px;
  }
  
  .duration {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .fade-before {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .flash {
    position: relative;
    top: 100;
    left: 0;
    width:100%;
    line-height:60px;
    color: white;
    text-align: center;
    // background-color: white;
  }
  
  .success {
    background-color: @yellow;
  }
  
  .error {
    background-color: @red;
  }
  
  .error-container {
    padding-top: 100px;
    background-color: @green;
  }
  
  .over-scroll {
    overflow: auto;
  }
  
  .container-2 {
    width: 80%;
    margin: 20% auto;
    margin-top: 0;
    margin-bottom: 50px;
    padding:20px 0px;
  }

  .sm-hide {
    display: none;
  }
}
