//button.css.less


// //****** btn variable **********


// @btn-side-padding: 24px;
// @btn-vertical-padding: 12px;

// @btn-small-side-padding: 20px;
// @btn-small-vertical-padding: 6px;


// //****** btn base class **********

// //! Don't use this class below n HTML 


// .btn {
// 	color: white;
// 	border-radius: 3px;
//   border: none;
//   background: none;
//   padding: @btn-vertical-padding @btn-side-padding;
//   font-size: @base-font-size * 1;
// }

// .btn-long {
//   width: 100%;
// }


// .btn-small {
//   color: white;
//   border-radius: 3px;
//   border: none;
//   background: none;
//   padding: @btn-small-vertical-padding @btn-small-side-padding;
//   font-size: @base-font-size * 0.9;
// }


// //****** btn class **********


// .btn-x1 {
//   &:extend(.btn);
//   background-color: @blue;
//   border-bottom: 1px solid @blue-shadow;
//   font-weight: 500;
//    .duration();
//   &:hover {
//   	color: white;
// 	  background-color:@blue-brighter;
//   }
// }

// .btn-x2 {
//   &:extend(.btn);
//   background-color: @red;
//   border-bottom: 1px solid @red-shadow;
//   font-weight: 500;
//    .duration();
//   &:hover {
//       color: white;
//       background-color:@red-brighter;
//   }
// }

// .btn-x3 {
//   &:extend(.btn);
//   background-color: @green;
//   border-bottom: 1px solid @green-shadow;
//   font-weight: 500;
//    .duration();
//   &:hover {
//       color: white;
//       background-color:@green-brighter;
//   }
// }

// .btn-x4 {
//   &:extend(.btn);
//   background-color: @yellow;
//   border-bottom: 1px solid @yellow-shadow;
//   font-weight: 500;
//   .duration();
//   &:hover {
//     color: white;
//     background-color:@yellow-brighter;
//   }
// }

// .btn-fb {
//   &:extend(.btn);
//   background-color: #3B5998;
//   border-bottom: 1px solid #344f87;
//   font-weight: 500;
//   .duration();
//   &:hover {
//     color: white;
//     background-color:#4268b8;
//   }
// }

// .btn-gray {
//    &:extend(.btn);
//   background-color: #666666;
//   border-bottom: 1px solid #555555;
//   font-weight: 500;
//   &:hover {
//       color: white;
//       background-color:#9a9a9a;
//   }
// }


// //****** btn small **********


// .btn-small-x1 {
//   &:extend(.btn-small);
//   &:extend(.btn);
//    background-color: @yellow;
//    border-bottom: 1px solid @yellow-shadow;
//    font-weight: 500;
//    // .duration();
//    &:hover {
//      color: white;
//      background-color:@yellow-brighter;
//    }
// }

// .btn-small-lightgray {
//   &:extend(.btn-small);
//   &:extend(.btn);
//    background-color: lightgray;
//    border-bottom: 1px solid @yellow-shadow;
//    font-weight: 500;
//    // .duration();
//    &:hover {
//      color: white;
//      background-color:@yellow-brighter;
//    }
// }

// .shrink-btn {
//   padding:4px 7%;
//   font-size:0.9em !important;
//   font-size: 80% !important;
// }

// .btn-refresh {
//   font-size: 14px;
//   padding: 12px 24px;
// }


//******************************************************************
//  *************$%$%$                      $%$%$*****************
//******************************************************************
//******************************************************************
//  *************$%$%$ SmartPhone or Tablet $%$%$*****************
//******************************************************************
//******************************************************************
//  *************$%$%$                      $%$%$*****************
//******************************************************************


// @media only screen
// and (min-device-width : 481px){
//   @btn-side-padding: 28px;
//   @btn-vertical-padding: 14px;
//   @btn-small-side-padding: 20px;
//   @btn-small-vertical-padding: 6px;

//   .btn {
//     color: white;
//     width: 90% !important;
//     border-radius: 3px;
//     border: none;
//     background: none;
//     padding: @btn-vertical-padding @btn-side-padding;
//     font-size: @base-font-size * 1;
//   }

//   .btn-x1 {
//     &:extend(.btn);
//     background-color: @blue;
//     border-bottom: 1px solid @blue-shadow;
//     font-weight: 500;
//      .duration();
//     &:hover {
//       color: white;
//       background-color:@blue-brighter;
//     }
//   }
  
//   .btn-x2 {
//     &:extend(.btn);
//     background-color: @red;
//     border-bottom: 1px solid @red-shadow;
//     font-weight: 500;
//      .duration();
//     &:hover {
//         color: white;
//         background-color:@red-brighter;
//     }
//   }
  
//   .btn-x3 {
//     &:extend(.btn);
//     background-color: @green;
//     border-bottom: 1px solid @green-shadow;
//     font-weight: 500;
//      .duration();
//     &:hover {
//         color: white;
//         background-color:@green-brighter;
//     }
//   }
  
//   .btn-x4 {
//     &:extend(.btn);
//     background-color: @yellow;
//     border-bottom: 1px solid @yellow-shadow;
//     font-weight: 500;
//     .duration();
//     &:hover {
//       color: white;
//       background-color:@yellow-brighter;
//     }
//   }

//   .btn-fb {
//     &:extend(.btn);
//     background-color: #3B5998 !important;
//     border-bottom: 3px solid #344f87 !important;
//     font-weight: 500;
//     .duration();
//     &:hover {
//       color: white;
//       background-color:#4268b8 !important;
//     }
//   }

// }


//******************************************************************
//  *************$%$%$                      $%$%$*****************
//******************************************************************
//******************************************************************
//  *************$%$%$ SmartPhone or Tablet $%$%$*****************
//******************************************************************
//******************************************************************
//  *************$%$%$                      $%$%$*****************
//******************************************************************
@media all and (max-width : 480px){
  // @btn-side-padding: 100px;
  // @btn-vertical-padding: 24px;
  // @btn-small-side-padding: 20px;
  // @btn-small-vertical-padding: 6px;

  .btn {
    color: white;
    border-radius: 6px;
    border: none;
    background: none;
    padding: @btn-vertical-padding @btn-side-padding !important;
    font-size: @base-font-size * 1 !important;
  }

  .btn-long {
    width: 100%;
  }
  

  .btn-x1 {
    &:extend(.btn);
    background-color: @blue;
    border-bottom: 3px solid @blue-shadow;
    font-weight: 500;
     .duration();
    &:hover {
      color: white;
      background-color:@blue-brighter;
    }
  }
  
  .btn-x2 {
    &:extend(.btn);
    background-color: @red;
    border-bottom: 3px solid @red-shadow;
    font-weight: 500;
     .duration();
    &:hover {
        color: white;
        background-color:@red-brighter;
    }
  }
  
  .btn-x3 {
    &:extend(.btn);
    background-color: @green;
    border-bottom: 3px solid @green-shadow;
    font-weight: 500;
     .duration();
    &:hover {
        color: white;
        background-color:@green-brighter;
    }
  }
  
  .btn-x4 {
    &:extend(.btn);
    background-color: @yellow;
    border-bottom: 3px solid @yellow-shadow;
    font-weight: 500;
    .duration();
    &:hover {
      color: white;
      background-color:@yellow-brighter;
    }
  }

  .btn-fb {
    &:extend(.btn);
    background-color: #3B5998 !important;
    border-bottom: 3px solid #344f87 !important;
    font-weight: 500;
    .duration();
    &:hover {
      color: white;
      background-color:#4268b8 !important;
    }
  }

  .btn-gray {
     &:extend(.btn);
    background-color: #666666;
    border-bottom: 1px solid #555555;
    font-weight: 500;
    &:hover {
        color: white;
        background-color:#9a9a9a;
    }
  }
}

@media screen and (min-width : 481px){
  
//****** btn variable **********

  @btn-side-padding: 24px;
  @btn-side-wide-padding: 48px;
  @btn-vertical-padding: 12px;
  
  @btn-small-side-padding: 20px;
  @btn-small-vertical-padding: 6px;
  
  
  //****** btn base class **********
  
  //! Don't use this class below n HTML 
  
  
  .btn {
    color: white;
    border-radius: 3px;
    border: none;
    background: none;
    padding: @btn-vertical-padding @btn-side-padding;
    font-size: @base-font-size * 1;
  }
  
  .btn-long {
    width: 100%;
  }

  .btn-wide {
    padding: @btn-vertical-padding @btn-side-wide-padding !important;
  }
  
  .btn-small {
    color: white;
    border-radius: 3px;
    border: none;
    background: none;
    padding: @btn-small-vertical-padding @btn-small-side-padding;
    font-size: @base-font-size * 0.9;
  }
  
  
  //****** btn class **********
  
  
  .btn-x1 {
    &:extend(.btn);
    background-color: @blue;
    border-bottom: 1px solid @blue-shadow;
    font-weight: 500;
     .duration();
    &:hover {
      color: white;
      background-color:@blue-brighter;
    }
  }
  
  .btn-x2 {
    &:extend(.btn);
    background-color: @red;
    border-bottom: 1px solid @red-shadow;
    font-weight: 500;
     .duration();
    &:hover {
        color: white;
        background-color:@red-brighter;
    }
  }
  
  .btn-x3 {
    &:extend(.btn);
    background-color: @green;
    border-bottom: 1px solid @green-shadow;
    font-weight: 500;
     .duration();
    &:hover {
        color: white;
        background-color:@green-brighter;
    }
  }
  
  .btn-x4 {
    &:extend(.btn);
    background-color: @yellow;
    border-bottom: 1px solid @yellow-shadow;
    font-weight: 500;
    .duration();
    &:hover {
      color: white;
      background-color:@yellow-brighter;
    }
  }
  
  .btn-fb {
    &:extend(.btn);
    background-color: #3B5998;
    border-bottom: 1px solid #344f87;
    font-weight: 500;
    .duration();
    &:hover {
      color: white;
      background-color:#4268b8;
    }
  }
  
  .btn-gray {
     &:extend(.btn);
    background-color: #666666;
    border-bottom: 1px solid #555555;
    font-weight: 500;
    &:hover {
        color: white;
        background-color:#9a9a9a;
    }
  }
  
  
  //****** btn small **********
  
  
  .btn-small-x1 {
    &:extend(.btn-small);
    &:extend(.btn);
     background-color: @yellow;
     border-bottom: 1px solid @yellow-shadow;
     font-weight: 500;
     // .duration();
     &:hover {
       color: white;
       background-color:@yellow-brighter;
     }
  }
  
  .btn-small-lightgray {
    &:extend(.btn-small);
    &:extend(.btn);
     background-color: lightgray;
     border-bottom: 1px solid @yellow-shadow;
     font-weight: 500;
     // .duration();
     &:hover {
       color: white;
       background-color:@yellow-brighter;
     }
  }
  
  .shrink-btn {
    padding:4px 7%;
    font-size:0.9em !important;
    font-size: 80% !important;
  }
  
  .btn-refresh {
    font-size: 14px;
    padding: 12px 24px;
  }


.fb-share-button {
    color: black;
    font-size: 16px;
}
}