
//****** padding **********
@card-content-padding: 20px;

//****** size **********
@profile-picture-size: 80px;


.card {
  //border: 1px solid @gray;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}

.card-profile {
  .card();
  min-width:285px;
  width: 30%;
  height: auto;
  margin: 10px 1% 10px 1%;
  background-color: white;
  .img {
  	width:@profile-picture-size;
  	height: @profile-picture-size;
  	img {
  	  width:100%;
  	  height:100%;
  	  border-radius: @profile-picture-size;
  	}
  }  
  .box {
  	padding:0px @card-content-padding;
  }  
  .head {
  	.w90();
  	border-bottom:1px solid @gray;
  	height: 100px;
  	padding: 20px 5% 10px 5%;
  }  
  .description { 
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    height: auto; /* Fallback for non-webkit */
    margin: 0 auto;
    font-size: 14px;
    line-height: 19px;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .bottom {
    .w90();
  }
}

.card-order {
  .card();
  
  width: 90%;
  min-width: 280px;
  height: auto;
  margin: 20px 1%;
  cursor: pointer;
// box-shadow: 1px 2px 1px @lightgray;
  .card-order-header {
  	position: relative;
  	width: 100%;
  	height: auto;
  }  

  .card-place-img-container {
  	width: 100%;
  	height: 220px !important;
  	overflow: hidden;
  }  

  .card-place-img {
  	width: 100%;
  	height: auto;
  	overflow: hidden;
  	border-top-left-radius: 4px;
  	border-top-right-radius: 4px;
  	margin:0 !important;
  	padding: 0 !important;
    background-position: bottom;
  }  

  .card-place-image:hover {
  	 filter: brightness(50%);
  }  
  .card-order-bottom {
  	background-color: white;
  	text-align: left;
  	padding: 18px 20px;	
    border-radius: 5px;
  }  
  .tour-content {
  	padding-bottom: 20px;
  }
  
  .profile {
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 20px;
    font-size: 12px;
    .profile-img {
      width: 45px;
      height: 45px;
      background-size: contain;
      border-radius: 45px;
      margin: 0;
    }  
    .profile-info {
      height: 35px;
      padding: 5px 10px;
    }
  }

} 



.card-place {
  //border: 1px solid @gray;
  border-radius: 4px;
  width:90%;
  height:280px;
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  //transition: all 0.2s ease-in-out;
  background-color:rgba(255, 255, 255, 1);
  
  .card-place-img-container {
  	width: 100%;
  	height: 220px !important;
  	overflow: hidden;
  }

  .card-place-img {
  	width: 100%;
  	height: auto;
  	overflow: hidden;
  	border-top-left-radius: 4px;
  	border-top-right-radius: 4px;
  	margin:0 !important;
  	padding: 0 !important;
  }

  .description {
  	width:90%;
  	padding: 0px 5%; 
  	vertical-align: middle;
    line-height: 60px;		
  }
}


.card-review {
  width:80%;
  border:1px solid @gray;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 1px @lightgray;
  .inner-card {
    width:90%;
    margin:3% auto 6% auto;
    .content {
    	padding-bottom: 15px;
    }
    .bottom {
    	padding-top:15px; 
    }
  }
}

.inner-card {
  width:90%;
  margin:5% auto;
}


.card-message {
  .card();
  height: auto;
  border-radius: 4px;
  box-shadow: 1px 1px 1px @lightgray;
  background-color: white;
  margin-bottom: 20px;
  padding: @card-content-padding;
}

.txt-right {
  text-align: right;
}

.place-icon {
  width: 20px !important;
  height: 34px;
  vertical-align: middle;
  margin-right: 10px;
}

.time {
  word-spacing: 4px;
  letter-spacing: 1px;
}


/*
*********************************************************
SP
*********************************************************

*/

@media all and (max-width : 480px) {


  @card-content-padding: 20px;

//****** size **********
  @profile-picture-size: 80px;

//***************** City#Local profile card ***********************
  .card-profile {
    .card();
    min-width:180px;
    width: 90%;
    height: auto;
    margin: 10px 5% 10px 5%;
    border-radius: 4px;
    background-color: white;
    .img {
      width:@profile-picture-size;
      height: @profile-picture-size;
      img {
        width:100%;
        height:100%;
        border-radius: @profile-picture-size;
      }
    }  
    .box {
      padding:0px @card-content-padding;
    }  
    .head {
      .w90();
      border-bottom:1px solid @gray;
      height: 100px;
      padding: 20px 5% 10px 5%;
    }  
    .description { 
      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      max-width: 400px;
      height: auto; /* Fallback for non-webkit */
      margin: 0 auto;
      font-size: 14px;
      line-height: 19px;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: 20px;
    }
  
    .bottom {
      height: 180px;
      padding: 20px 0px;
      .w90();
    }
  }

//***************** City#Show tour card ***********************
  
  .card-order {
    .card();
    border-radius: 4px;
    width: 90%;
    margin: 20px auto;
    cursor: pointer;
    .card-order-header {
      position: relative;
      width: 100%;
      border-bottom: 1px solid lightgray;
    }  
    .card-place-img-container {
      width: 100%;
      // height: 220px !important;
      overflow: hidden;
    }  
    .card-place-img {
      width: 100%;
      height: auto;
      overflow: hidden;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin:0 !important;
      padding: 0 !important;
    }  
    .card-place-image:hover {
       filter: brightness(50%);
    }  

    .card-order-bottom {
      background-color: white;
      text-align: left;
      padding: 18px 20px; 
    }  

    .tour-content {
      padding-bottom: 20px;
    }
    
    .profile {
      bottom: 0;
      width: 100%;
      height: 50px;
       font-size: 12px;
      .profile-img {
        width: 45px;
        height: 45px;
        background-size: contain;
        border-radius: 45px;
        margin: 0;
      }  
      .profile-info {
        height: 35px;
        padding: 5px 10px;
      }
    }
  
  } 
  
  
  .card-place {
    //border: 1px solid @gray;
    border-radius: 4px;
    width: 90%;
    height: 280px;
    margin: auto;
    background-color:rgba(255, 255, 255, 1);
    
    .card-place-img-container {
      width: 100%;
      height: 220px !important;
      overflow: hidden;
    }
  
    .card-place-img {
      width: 100%;
      height: auto;
      overflow: hidden;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin:0 !important;
      padding: 0 !important;
    }
  
    .description {
      width:90%;
      padding: 0px 5%; 
      vertical-align: middle;
        line-height: 60px;    
    }
  }
  
  
  .card-review {
    width:80%;
    border:1px solid @gray;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px @lightgray;
    .inner-card {
      width:90%;
      margin:3% auto 6% auto;
      .content {
        padding-bottom: 15px;
      }
      .bottom {
        padding-top:15px; 
      }
    }
  }
  
  .inner-card {
    width:90%;
    margin:5% auto;
  }
  
  
  .card-message {
    .card();
    height: auto;
    border-radius: 4px;
    box-shadow: 1px 1px 1px @lightgray;
    background-color: white;
    margin-bottom: 20px;
    padding: @card-content-padding;
  }
  
  .txt-right {
    text-align: right;
  }
  
  .place-icon {
    width: 20px !important;
    height: 34px;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .time {
    word-spacing: 4px;
    letter-spacing: 1px;
  }

}

// .description {
// 	height:100px;
//   	overflow: hidden;
// 	text-overflow: ellipsis;
//  	-o-text-overflow: ellipsis;
// }
