// color.css.less
// Write CSS for font 

// ************ Variable for coloring ************

//white
//lightgray
//gray
//lightblue
//blue
//darkblue
//red
//yellow
//green

// ************ white ************


@white: #FFFFFF;


// ************ lightgray ************


@lightgray: #FAFAFA;


// ************ darkgray ************


@gray: #EEEEEE;


// ************ lightblue ************


@lightblue: #4bbefc;
// @lightblue: #53B4C6;
@lightblue-shadow: darken(@lightblue, 10%);


// ************ blue ************


// @blue: #2c80bc;
@blue: #4bbefc;
@blue-shadow: darken(@blue, 10%);
@blue-brighter: lighten(@blue, 5%);


// ************ darkblue ************


@darkblue: #0e293c;
@darkblue-shadow: darken(@darkblue, 10%);
@darkblue-brighter: lighten(@blue, 10%);


// ************ red *************


@red: #FF6570;
// @red: #FF7668;
@red-shadow: darken(@red, 10%);
@red-brighter: lighten(@red, 10%);


// ************ yellow ************


@yellow: #FFC770;
@yellow-shadow: darken(@yellow, 10%);
@yellow-brighter: lighten(@yellow, 10%);


// ************ green ************
// @green: #25C9B5;
// @green: #1A97C0;
// @green: #57C6A5;
@green: #4bbefc;
@green-shadow: darken(@green, 10%);
@green-brighter: lighten(@green, 5%);