// dashboard.css.less


//*********** table dashboard ***********
table {  
  border-spacing: 0px;
  border: 1px solid @gray;
}

.table {
  width:100%;
  border: 1px solid @gray;
}

.thead {
  background-color: white;
  border-top: 2px double @green;
  border-bottom: 2px solid #EEEEEE;
}

.th {
  .font-small-bold();
  padding: 20px;
  text-align: center;
}

.tr:hover {
  background-color: @lightgray;
}

.cell {
  .font-small();
  padding: 20px;
  border-top: 1px solid @lightgray;
  text-align: center;
}

.sub-thead {
  background-color:lightgray;
}

.info-content {
  tr { margin-top: 5px; }
}

.iw_table_row { margin-top: 5px; }


//*********** status dashboard ***********
// no-offer
// offered
// accepted
// canceled
// pending
// done

.no-offer {
  .font(gray, @font-weight-bold, 12px)
}

.no-offer:after {
  content: "No offer";
}

.offered {
  .font(gray, @font-weight-bold, 12px)
}

.offered:after {
  content: "Got offer";
}

.accepted {
  .font(@lightblue, @font-weight-bold, 12px)
}

.accepted:after {
  content: "Accepted";
}

.canceled {
  .font(@red, @font-weight-bold, 12px)
}

.canceled:after {
  content: "Canceled";
}

.pending {
  .font(gray, @font-weight-bold, 12px)
}

.pending:after {
  content: "-";
}

.done:after {
  content: "Done";
}

.reserved {
  .font(gray, @font-weight-bold, 12px)
}

.reserved:after {
  content: "RESERVED";
}

//************ Charged /************

.paid {
  .font(@green, @font-weight-bold, 12px)
}

.paid:after {
  content: "Transfered";
}


// Dashboard applied 640px because of table size
@media all and (max-width : 640px) {

  
  .tab-nav {
    // background-color: white;
    width: 100% !important;
    padding: 0px 0px 250px 0px !important;
    // border: 1px solid @gray;
    
    li {
      display: block;
      width: 100%;
      text-align: center;
      background-color: white;
      height: 40px !important;
      line-height: 40px !important;
      padding: 0px 0px !important;
      margin-right: 0px;
      border: 1px solid @gray;
    }
  
    li:hover {
      color: white;
      background-color: @yellow;
      .animated();
    }
  
    a:hover {
      color:white;
    }
  }

  //Table 
  
  table {
    margin-bottom: 20px;
  }
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  thead {
    border-bottom: 0px !important;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    // position: absolute;
    // top: -9999px;
    // left: -9999px;
    display: none;
  }

  th {}
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */
  // td:nth-of-type(1):before { content: "First Name"; }
  // td:nth-of-type(2):before { content: "Last Name"; }
  // td:nth-of-type(3):before { content: "Job Title"; }
  // td:nth-of-type(4):before { content: "Favorite Color"; }
  // td:nth-of-type(5):before { content: "Wars of Trek?"; }
  // td:nth-of-type(6):before { content: "Porn Name"; }
}


