// font.css.less
// Write CSS for font 

//************ Variable for naming ************


@size: -size; //@{size}
@color: -color; //@{color}


//************ Variable for font ************


// @import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Hind:400,700,600,500);

@base-font-size: 1em;
@base-font-weight: 400;
@base-font-family:'Hind', sans-serif;


@font-weight-light: 400;
@font-weight-bold: 500;
@font-weight-st-bold: 600;
@font-weight-ex-bold: 700;

@font-color-strong: #616161;
@font-color-regular: #757575;
@font-color-light: #9E9E9E;


.font(@color, @font-weight, @font-size)
{
	color: @color;
	font-weight: @font-weight;
	font-size: @font-size;
	// padding:@base-font-size 0px;
}


//@color
//@font-weight
//@font-size


//************ User these tag for header font ************


.h1 {
  .h1-font();
}

.h2 {
  .h2-font();
}

.h3 {
  .h3-font();
}

.h4 {
  .h4-font();
}

.h5 {
  .h5-font();
}

.h6 {
  .h6-font();
}


//************ Don't use below tag inside HTML ************


.h1-font {
  .font(
  	@font-color-regular,
  	@font-weight-bold,
  	@base-font-size * 2.2
  );
}

.h2-font {
  .font(
    @font-color-regular,
  	@font-weight-st-bold,
  	@base-font-size * 1.8
  );
}

.h3-font {
  .font(
  	@font-color-regular,
  	@font-weight-bold,
  	@base-font-size * 1.6
  );
}

.h4-font {
  .font(
  	@font-color-regular,
  	@font-weight-bold,
  	@base-font-size * 1.4
  );
}

.h5-font {
  .font(
  	@font-color-regular,
  	@font-weight-bold,
  	@base-font-size * 1.2
  );
}


.h6-font {
  .font(
  	@font-color-light,
  	@font-weight-bold,
  	@base-font-size * 1
  );
}


//************ font color ************


.font-heavy {
  color: @font-color-strong;
}

.font-light {
  color: @font-color-light;
}

.font-gray {
  color: #9E9E9E;
}

.font-white {
  color: white !important;
}


//************ Don't use below tag inside HTML ************


.font-title {
  .font(white, @font-weight-bold, 32px);
  text-shadow: 1px 1px 1px gray;
}

.font-small {
  .font(
  	@font-color-light,
  	@font-weight-light,
  	@base-font-size * 0.8
  );
}

.font-small-bold {
  .font(
    @font-color-regular,
    @font-weight-ex-bold,
    @base-font-size * 0.9
  );
}

.txt-shadow {
  text-shadow: 1px 1px 1px gray;
}


//************ User for form label ************


.label {
  .font(
  	@font-color-light,
  	@font-weight-ex-bold,
  	@base-font-size * 0.9
  );
}

.label-dark {
  .font(
    #9E9E9E,
    @font-weight-bold,
    @base-font-size * 0.7
  );
  padding: 5px 0px;
}


.font-blue {
  color: @blue !important;
}

.font-yellow {
  color: @yellow !important;
}





// ************ User for delete & cancel link ************


.font-red {
  color: @red !important;
}

.link-red {
  color: @red !important;
}

.link-red:hover {
  color: @red-brighter !important;
}


// ************ User for price tag in tour/:id(:show) ************


.alert-tag {
  background-color: @red;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
}

.blue-label {
  background-color: @green;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
}

.date-label {
  color: @font-color-regular;
  font-weight: 700;
  font-size: 1.2em;
  padding: 5px 10px 0px 0px;
}


.price-tag {
  .price-dollar {
  	.font(
  	  @white,
  	  @font-weight-light,
  	  @base-font-size
  	);
  	.fl-l();
  	display: inline;
  	margin: 0 auto;
  }
  .price-number {
  	.font(
  	  @white,
  	  @font-weight-bold,
  	  @base-font-size * 1.2
  	);
  	.fl-l();
  	display: inline;
  	margin: 0 auto;
  }
  display:inline-block;
  background-color: @yellow;
  text-align: center;
  vertical-align: middle;
  padding: 2px 10px;
}


.accept-tag {
  .price-dollar {
    .font(
      @white,
      @font-weight-light,
      @base-font-size
    );
    .fl-l();
    display: inline;
    margin: 0 auto;
  }
  .price-number {
    .font(
      @white,
      @font-weight-bold,
      @base-font-size * 1.2
    );
    .fl-l();
    display: inline;
    margin: 0 auto;
  }
  display:inline-block;
  color: @white;
  background-color: @blue;
  text-align: center;
  vertical-align: middle;
  padding: 2px 10px;
}


.accept-tag:after {
  content: "Matched!"
}

.circle-label {
  padding:4px; 
  width: 32px;
  border-radius: 32px;
  background-color: @yellow;
  display: inline-block;
  color: white;
}

.date {
  letter-spacing: 2px; 
}


