
 
.footer {
  background-color:#424242;
  height: 120px;
  width: 100%;
    
  ul {
    padding-left: 0px !important;
  	li {
  	  //margin-left: 30px;
    }
  }
  a {
   	color:white;
    }
}
  
@media all and (max-width : 480px) {
 
  .footer {
    background-color:#424242;
    height: 200px;
    width: 100%;
    
    ul {
      li {
        margin: 0px;
      }
    }
    a {
      color:white;
    }
  }

}


