// form.css.less
// Write CSS for form 

//****** input default **********
// Move to input.css.less 


//============= All pages =============


.form {
  width: 320px;
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: white;
  .head {
  }
  .body {
    padding: 20px 25px 30px 25px;
  }
  .section {
  	margin-bottom: 5px !important;
    border-bottom: 1px solid lightgray;
  	p { margin-bottom: 0px; }
  }
}

.form-box {
	height: 600px;
}

.form input[type="text"], .form input[type="password"]{
  width: 87%
}


.form input[type="text"], .form input[type="password"] {
    padding-top: 15px;
    padding-left: 8%;
  }

//************ Pop up form ************


.form-popup {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: none;
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 4;

}

.popup-black {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}


//============= user/edit form ================

.input-birthday {}

.box-form-profile {
  border: 1px solid #ECEFF1;
  box-shadow: 1px 1px 1px #ECEFF1;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 50px;
  padding: 50px 0px;
  .section {
    margin-bottom: 5px !important;
    border-bottom: 1px solid @lightgray;
    p { margin-bottom: 0px; }
  }
  .text-form-profile { width : 100%; letter-spacing: 1px; inner-padding: 5px;}
  .textarea-form-profile { width: 100%; height: 200px; padding: 10px;}
  .textarea-profile-introduction { height: 400px;}
  table {
    width: 100%;
    border: none;
    td {
      margin: 10px 0px;
      padding: 25px 0px;
      border-top: 1px solid @lightgray;
    }
  }
}

.profile-tab-active {
  background-color: @lightgray;
  border-top: 1px solid @yellow;
}


.update-nav-ul {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.nav-user-form {
  cursor: pointer;
  display: block;
  border-bottom: 1px solid #ECEFF1;
  color: #90A4AE;
  margin: 0;
  padding: 30px 0px 30px 40px;
}

.nav-user-form:hover { 
  cursor: pointer;
  display: block;
  border-bottom: 1px solid #ECEFF1;
  color: white !important;
  background-color: @yellow;
  margin: 0;
  padding: 30px 0px 30px 40px;
}

.nav-sub {
  height: 100%;
  color: white;
}


.td-left {
  padding-right: 20px;
}

//============= tours/new tour form ================


.form-tour {
  height: auto !important;
}


//=============  tours/:id(:show) tour show offer form ============= 


.form-offer {
  width: 80%;
  padding: 10px 30px 10px 30px;
  margin: 10% auto;
  margin-top: 0;
  margin-bottom: 0;
}


//============= offers/:id(:show) payment form =============


.payment-box {
  position: absolute;
  bottom: 0 !important;
  .head {
    padding: 15%;
    min-height: 50px;
    background: @yellow;
  }
  .body {
    padding: 10% 5%;
  }
}

.stripe-logo {
  width: 30%;
  height: auto;
}

.card-logo {
  width: 20%;
  height: auto;
}


//************ form validation ************

.input-warning {
  border-color: @red !important;
}

.input-warning:focus {
  border-color: @red !important;
}

.input-accept {
  border-color: @green !important;
}

.input-accept:focus {
  border-color: @green !important;
}



@media all and (max-width : 481px){
  .form-popup {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    display: none;
    position: absolute;
    top: 10%;
    left: 0%;
    z-index: 4;

    input {
      width: 90% !important;
    }
  }

  .form {
    width: 90%;
    margin: 0px 5%;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: white;
    .head {
    }
    .body {
      padding: 0px 25px 10px 25px;
    }
    .section {
      margin-bottom: 15px !important;
      border-bottom: 1px solid @lightgray;
      p { margin-bottom: 0px; }
    }
  }

  .edit_user {
    margin-top: 20px;
  }

  .update-nav {
    min-height: 60px !important; 
    margin-bottom: 15px;  
  }

  .nav-user-form {
    padding-left: 0;
    font-size: 10px;
    height: 20px;
    padding-top: 20px;
    text-align: center;
  }

  .nav-user-form:hover {
    height: 20px;
    padding-top: 20px;
    padding-left: 0;
  }

  .table-user-profile tr {
    border: 0px
  }

  #image_upload file {
    padding: 0;
  }

}


