
@header-height: 60px;
@header-margin: 24px;

//************ Pop up form ************

.header-font {
  font-weight: 400;
  color: @font-color-strong;
  font-size: 0.9em;
}

.header@{size} {
  height: @header-height;
}

.header@{color} {
  background-color: #53B4C6;
}

.header {

//  .logo {
//    display: inline-block;
//  	vertical-align: middle;
//  	inline-height: @header-height;
//  }

  .img-logo {
    width: 100%;
    max-width: 180px;
    max-height: 28px;
    vertical-align: middle;
  }

  a {
  	color: white;
  }

  a:hover {
  	color: white !important;
  }

  width: 100%;
  display: inline-block;
  line-height: @header-height;
  position: fixed;
  z-index: 2;
  .header-font();
  
}



select {
  -webkit-appearance: none;
  -moz-appearance: none; 
  text-indent: 1px;
  text-overflow: '';
}


#section-flag {
  display: flex;
  height: @header-height;
  align-items: center;
}

.flag {
  width: 20%;
}





#lang-option {
  color: white;
  height: @header-height;
  margin-top: -12px;
  border: 0;
  padding-left: 4px;
  moz-appearance: none;
  /*for chrome*/
 -webkit-appearance:none;
}

#lang-option::-ms-expand {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

#lang-label:after {
  color: white;
  //background-color: white;
  content:'\25BC';
  display:inline-block;
  box-sizing:border-box;
  //color:red;
  //background-color:#fff;
  //border:1px solid #999;
  margin-left:-20px;   /* remove the damn :after space */
  pointer-events:none;
}

.nav {

  display: inline-block;
  line-height: @header-height;
  padding: 0px;

  ul {

  	line-height: @header-height;

  	li {

  	  display: inline-block;
  	  line-height: @header-height;
  	  margin-left: @header-margin;
  	  vertical-align: middle;

  	}

  	margin:0px;

  }
}

@media all and (max-width : 481px){

  .header-font {
    font-weight: 400;
    color: @font-color-strong;
    font-size: 0.8em;
  }

  .header {
    display: inline-block;
    line-height: 50px;
    background-color: @green;
    .logo {
      vertical-align: middle;
    }

    .img-logo {
      width: 120px;
      height: 16px;
      vertical-align: middle;
    }

    a {
      color: white;
    }

    a:hover {
      color: white !important;
    }
    width: 100%;
    // display: none;
    line-height: @header-height;
    position: fixed;
    z-index: 2;
    .header-font();
  }

  
  .nav {
    float: none !important;
    display: none;
    line-height: 0px;
    padding: 60px 0px 0px 0px;
    width: 100%;
    ul {
      float: none !important;
      line-height: 0px;
      padding: 0px;
      width: 100%;
      li {
        border-top:1px solid rgba(255, 255, 255, 0.5); 
        background-color: @green;
        width: 100%;
        padding: 0px 20px;
        display: block;
        line-height: @header-height;
        margin-left: 0px;
        vertical-align: middle;
      }
      margin:0px;
    }
  }

  .nav-open {
    color: white;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
  }


}
