// input.css.less
// Write CSS for input

input[type="text"], input[type="password"], input[type="date"], input[type="time"], input[type="number"], textarea{
	border: 1px solid rgb(166, 166, 166);;
	padding: 10px;
	font-size: 14px;
	border-radius: 4px;
	outline: none;
}

input[type="submit"] {
  outline: none;
}

input[type=text]:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 0);
  border: 1px solid @lightblue;
}

::-webkit-input-placeholder {
  .font(@font-color-light, @font-weight-st-bold, 12px);
  font-size:12px;
}

:-moz-placeholder { /* Firefox 18- */
  .font(@font-color-light, @font-weight-st-bold, 12px);
  font-size:12px;
}

::-moz-placeholder {  /* Firefox 19+ */
  .font(@font-color-light, @font-weight-st-bold, 12px);
  font-size:12px; 
}

:-ms-input-placeholder { 
  .font(@font-color-light, @font-weight-st-bold, 12px);
  font-size:12px;
}

input[type="button"], button {
  border: none;
  outline:none;
}

input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='time'],
input[type='week'] {
    &::-webkit-inner-spin-button {
        display: none;
    }
}
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field {
    &:after {
        content: "";
    }
    &:not([aria-valuenow]) {
        color: transparent;
    }
}

::-webkit-datetime-edit-text {
    color: darkgray;
}
::-webkit-clear-button {
    margin-left: 0px;
    margin-right: 5px;
}
::-webkit-calendar-picker-indicator {
	display: block;
    color: transparent;
    background: image-url("Calendar-Plus.png") no-repeat;
    background-size: auto;
    padding: 2px 2px 4px 1px;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 85%; /* Specific width is required for Firefox. */
  background-color: @blue;
  height:10px;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 70%;
  cursor: pointer;
  // background: transparent; /* Hides the slider so custom styles can be added */
  // border-color: transparent;
  // color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 28px;
  width: 23px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

select {
  outline: none;
  padding: 8px 2em 8px 10px;
  -webkit-appearance: none;
  background: url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

input[type=file] {
  outline: none;
  padding: 30px;
}
