// layout.css.less

  

//************ CSS about layout ************
  .block {
    display: block;
  }

  .fl-l {
    float: left;
  }
  
  .fl-r	{
    float: right;
  }
  
  .cl-b {
    clear: both;
  }
  
  .txt-left {
    text-align: left;
  }
  
  .txt-center {
    text-align: center;
  }
  
  .txt-right {
    text-align: left;
  }
  
  #map {
    height: 80%;
  }
  
  .section {
    margin-top:25px;
    mergin-bottom: 25px;
  }
  
  .right-col {
  	// postion:relative;
  	min-height: 900px !important;
  	height: auto;
  }
  
  .left-col {
  	// min-height: 900px !important;
  	min-height: 1300px !important;
    height: auto;
  }
  
  .list {
    height: 100%;
    min-height: 600px;
  }

  .video {
    min-width: 320px;
    width: 70%;
    height: 460px;
  }

  .browser {
    width:100%;
    padding-top: 133px;
    background-image: image-url("browser.png");
    background-size: 100%;
    img {
      width:93%;
      margin-left: 1%;
      height:125%;
    }
  }
  
  
  //! .header is in header.css.less

  //************ inner ************
  
  
  .inner-80 {
    width: 80%;
    margin: 0 10%;
  }
  
  .inner-90 {
    width: 90%;
    margin: 0 5%;
  }
  
  .inner-95 {
    width: 95%;
    margin: 0 2.5%;
  }
  
  .inner-100{
    width:100%;
  }
  
  
  //************ width ************
  
  .w50 {
    width: 50%;
    padding: 0px 25%;
  }

  .w60 {
    width: 60%;
    padding: 0px 20%;
  }

  .w70 {
    width: 70%;
    padding: 0px 15%;
  }

  .w80 {
    width: 80%;
    padding: 0px 10%;
  }
  
  .w90 {
    width: 90%;
    padding: 0px 5%;
  }
  
  .w100 {
    width: 100%;
  }
  
  
  
  
  //************ margin ************
  
  
  //margin top
  
  .mt-5 {
    margin-top: 5px;
  }
  
  .mt-10 {
    margin-top: 10px;
  }
  
  .mt-15 {
    margin-top: 15px;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  .mt-25 {
    margin-top: 25px;
  }
  
  .mt-30 {
    margin-top: 30px;
  }
  
  //margin right
  
  .mr-5 {
    margin-right: 5px;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .mr-15 {
    margin-right: 15px;
  }
  
  .mr-20 {
    margin-right: 20px;
  }
  
  .mr-25 {
    margin-right: 25px;
  }
  
  .mr-30 {
    margin-right: 30px;
  }
  
  //margin left
  
  
  .ml-5 {
    margin-left: 5px;
  }
  
  .ml-10 {
    margin-left: 10px;
  }
  
  .ml-15 {
    margin-left: 15px;
  }
  
  .ml-20 {
    margin-left: 20px;
  }
  
  .ml-25 {
    margin-left: 25px;
  }
  
  .ml-30 {
    margin-left: 30px;
  }

  .ml-40 {
    margin-left: 40px;
  }
  
  //margin bottom
  
  
  .mb-5 {
    margin-bottom: 5px;
  }
  
  .mb-10 {
    margin-bottom: 10px;
  }
  
  .mb-15 {
    margin-bottom: 15px;
  }
  
  .mb-20 {
    margin-bottom: 20px;
  }
  
  .mb-25 {
    margin-bottom: 25px;
  }
  
  .mb-30 {
    margin-bottom: 30px;
  }

  .mb-50 {
    margin-bottom: 50px;
  }
  
  //************ Padding ************
  
  // padding top 
  
  .pt-10 {
    padding-top: 10px;
  }
  
  .pt-20 {
    padding-top: 20px;
  }
  
  .pt-30 {
    padding-top: 30px;
  }
  
  .pt-40 {
    padding-top: 40px;
  }
  
  .pt-50 {
    padding-top: 50px;
  }

  .pt-100 {
    padding-top: 100px;
  }

  // padding-bottom

  .pb-10 {
    padding-bottom: 10px;
  }
  
  .pb-20 {
    padding-bottom: 20px;
  }
  
  .pb-30 {
    padding-bottom: 30px;
  }
  
  .pb-40 {
    padding-bottom: 40px;
  }
  
  .pb-50 {
    padding-bottom: 50px;
  }

  .pb-100 {
    padding-bottom: 100px;
  }
  
  // padding-right
  .pr-10 {
    padding-right: 10px;
  }
  
  .pr-20 {
    padding-right: 20px;
  }
  
  .pr-30 {
    padding-right: 30px;
  }
  
  .pr-40 {
    padding-right: 40px;
  }
  
  .pr-50 {
    padding-right: 50px;
  }
  
  
  
  // padding vertical 
  .pv-5 {
    padding: 5px 0px;
  }

  .pv-10 {
    padding: 10px 0px;
  }
  
  .pv-20 {
    padding: 20px 0px;
  }
  
  .pv-30 {
    padding: 30px 0px;
  }
  
  .pv-40 {
    padding: 40px 0px;
  }
  
  .pv-50 {
    padding: 50px 0px;
  }

  .pv-60 {
    padding: 60px 0px;
  }

  .pv-70 {
    padding: 70px 0px;
  }

  .pv-80 {
    padding: 80px 0px;
  }

  .pv-100 {
    padding: 100px 0px;
  }
  
  // padding horizon
  
  .ph-10 {
    padding: 0px 10px;
  }
  
  .ph-20 {
    padding: 0px 20px;
  }
  
  .ph-30 {
    padding: 0px 30px;
  }
  
  .ph-40 {
    padding: 0px 40px;
  }
  
  .ph-50 {
    padding: 0px 50px;
  }
  
  .pa-10 {
    padding: 10px;
  }
  
  .pa-20 {
    padding: 20px;
  }
  
  .pa-30 {
    padding: 30px;
  }
  
  .pa-40 {
    padding: 40px;
  }
  
  .pa-50 {
    padding: 50px;
  }

  .md-hide {
    display: none;
  }

  .md-show {
    display: block;
  }


//************ Margin ************




// @media only screen
// and (min-width : 320px){
// 	// .xs-col1 {width: 8.33%;}
// 	// .xs-col2 {width: 16.66%;}
// 	// .xs-col3 {width: 25%;}
// 	// .xs-col4 {width: 33.33%;}
// 	// .xs-col5 {width: 41.66%;}
// 	// .xs-col6 {width: 50%;}
// 	// .xs-col7 {width: 58.33%;}
// 	// .xs-col8 {width: 66.66%;}
// 	// .xs-col9 {width: 75%;}
// 	// .xs-col10 {width: 83.33%;}
// 	// .xs-col11 {width: 91.66%;}
// 	// .xs-col12 {width: 100%;}
// }

// @media only screen
// and (max-width : 767px)
// and (min-width : 481px){
// 	.sm-fl-l {float:left;}
// 	.sm-fl-r {float:right;}
// 	.sm-cl-b {clear:both;}
// }

// @media only screen
// and (max-width : 1223px)
// and (min-width : 768px){
// 	.md-fl-l {float:left;}
// 	.md-fl-r {float:right;}
// }

// /* Deskbottoms and laptops ----------- */
// @media only screen
// and (min-width : 1224px) {
// 	.lg-col1 {width: 8.33%;}
// 	.lg-col2 {width: 16.66%;}
// 	.lg-col3 {width: 25%;}
// 	.lg-col4 {width: 33.33%;}
// 	.lg-col5 {width: 41.66%;}
// 	.lg-col6 {width: 50%;}
// 	.lg-col7 {width: 58.33%;}
// 	.lg-col8 {width: 66.66%;}
// 	.lg-col9 {width: 75%;}
// 	.lg-col10 {width: 83.33%;}
// 	.lg-col11 {width: 91.66%;}
// 	.lg-col12 {width: 100%;}
//   /* Styles */
// }

/* Large screens ----------- */
@media all and (max-width : 480px) {
  

  .right-col {
    // postion:relative;
    min-height: 300px !important;
    height: auto;
  }
  
  .left-col {
    // min-height: 900px !important;
    min-height: 300px !important;
    height: auto;
    padding-bottom: 30px;
  }


  //float none

  .sm-hide {
    display: none !important;
  }

  .sm-show {
    display: block;
  }
  
  .sm-fl-n {
    float: none !important;
  }

  .sm-clear {
    clear: both !important;
  }

  .sm-fl-l {
    float: left !important;
  }
  
  .sm-fl-r {
    float: right !important;
  }
  
  .sm-cl-b {
    clear: both;
  }
  
  .sm-txt-left {
    text-align: left;
  }
  
  .sm-txt-center {
    text-align: center;
  }
  
  .sm-txt-right {
    text-align: left;
  }
  
  #map {
    height: 100%;
  }
  
  .sm-section {
    margin-top:25px;
    mergin-bottom: 25px;
  }
  
  .sm-right-col {
    // postion:relative;
    min-height: 0px !important;
    height: auto !important;
  }
  
  .sm-left-col {
    // min-height: 900px !important;
    min-height: 0px !important;
    height: auto !important;
  }
  
  .sm-list {
    height: 100%;
    min-height: 600px;
  }
  
  
  //! .sm-header is in header.css.less
  
  .footer {
    background-color:#424242;
    height: 150px;
    width: 100%;
    ul {
      padding-left: 0px;
      li {
        display: block;
        margin-left: 0px;
        padding-top: 10px;
      }
    }
    a {
      color:white;
    }
  }


  .sp-fl-cl {
    clear: both !important;
  }

  .sm-inner-80 {
    width: 80%;
    margin: 0 10%;
  }
  
  .sm-inner-90 {
    width: 90%;
    margin: 0 5%;
  }
  
  .sm-inner-95 {
    width: 95%;
    margin: 0 2.5%;
  }
  
  .sm-inner-100{
    width:100%;
    margin: 0;
  }
  
  
  //************ width ************
  
  
  .sm-w100 {
    width: 100%;
  }
  
  .sm-w90 {
    width: 90%;
    padding: 0px 5%;
  }
  
  .sm-w80 {
    width: 80%;
    padding: 0px 10%;
  }
  
  .sm-w70 {
    width: 70%;
    padding: 0px 15%;
  }
  
  .sm-w60 {
    width: 60%;
    padding: 0px 20%;
  }
  
  .sm-w50 {
    width: 50%;
    padding: 0px 25%;
  }
  
  
  //************ margin ************
  .sm-ma-clear {
    margin: 0 !important;
  }
  
  //margin top
  
  .sm-mt-5 {
    margin-top: 5px;
  }
  
  .sm-mt-10 {
    margin-top: 10px;
  }
  
  .sm-mt-15 {
    margin-top: 15px;
  }
  
  .sm-mt-20 {
    margin-top: 20px;
  }
  
  .sm-mt-25 {
    margin-top: 25px;
  }
  
  .sm-mt-30 {
    margin-top: 30px;
  }

  .sm-mt-40 {
    margin-top: 40px;
  }
  
  .sm-mt-50 {
    margin-top: 50px;
  }

  .sm-mt-60 {
    margin-top: 60px;
  }

  //margin right
  
  .sm-mr-5 {
    margin-right: 5px;
  }
  
  .sm-mr-10 {
    margin-right: 10px;
  }
  
  .sm-mr-15 {
    margin-right: 15px;
  }
  
  .sm-mr-20 {
    margin-right: 20px;
  }
  
  .sm-mr-25 {
    margin-right: 25px;
  }
  
  .sm-mr-30 {
    margin-right: 30px;
  }
  
  //margin left
  
  
  .sm-ml-5 {
    margin-left: 5px;
  }
  
  .sm-ml-10 {
    margin-left: 10px;
  }
  
  .sm-ml-15 {
    margin-left: 15px;
  }
  
  .sm-ml-20 {
    margin-left: 15px;
  }
  
  .sm-ml-25 {
    margin-left: 15px;
  }
  
  .sm-ml-30 {
    margin-left: 15px;
  }
  
  //margin bottom
  
  
  .sm-mb-5 {
    margin-bottom: 5px;
  }
  
  .sm-mb-10 {
    margin-bottom: 10px;
  }
  
  .sm-mb-15 {
    margin-bottom: 15px;
  }
  
  .sm-mb-20 {
    margin-bottom: 15px;
  }
  
  .sm-mb-25 {
    margin-bottom: 15px;
  }
  
  .sm-mb-30 {
    margin-bottom: 15px;
  }
  
  //************ Padding ************
  .sm-pa-clear {
    padding: 0 !important;
  }
  // padding top 
  .sm-pt-0 {
    padding-top: 0px;
  }

  .sm-pt-5 {
    padding-top: 5px;
  }

  .sm-pt-10 {
    padding-top: 10px;
  }
  
  .sm-pt-20 {
    padding-top: 20px;
  }
  
  .sm-pt-30 {
    padding-top: 30px;
  }
  
  .sm-pt-40 {
    padding-top: 40px;
  }
  
  .sm-pt-50 {
    padding-top: 50px;
  }

  // padding-right
  .sm-pl-10 {
    padding-left: 10px;
  }

  .sm-pl-20 {
    padding-left: 20px;
  }

  .sm-pl-30 {
    padding-left: 30px;
  }

  .sm-pl-40 {
    padding-left: 40px;
  }

  .sm-pl-50 {
    padding-left: 50px;
  }
  
  // padding-right
  .sm-pr-10 {
    padding-right: 10px;
  }
  
  .sm-pr-20 {
    padding-right: 20px;
  }
  
  .sm-pr-30 {
    padding-right: 30px;
  }
  
  .sm-pr-40 {
    padding-right: 40px;
  }
  
  .sm-pr-50 {
    padding-right: 50px;
  }
  
  
  
  // padding vertical 
  
  .sm-pv-10 {
    padding: 10px 0px;
  }
  
  .sm-pv-20 {
    padding: 20px 0px;
  }
  
  .sm-pv-30 {
    padding: 30px 0px;
  }
  
  .sm-pv-40 {
    padding: 40px 0px;
  }
  
  .sm-pv-50 {
    padding: 50px 0px;
  }
  
  // padding horizon
  
  .sm-ph-10 {
    padding: 0px 10px;
  }
  
  .sm-ph-20 {
    padding: 0px 20px;
  }
  
  .sm-ph-30 {
    padding: 0px 30px;
  }
  
  .sm-ph-40 {
    padding: 0px 40px;
  }
  
  .sm-ph-50 {
    padding: 0px 50px;
  }
  
  .sm-pa-10 {
    padding: 10px;
  }
  
  .sm-pa-20 {
    padding: 20px;
  }
  
  .sm-pa-30 {
    padding: 30px;
  }
  
  .sm-pa-40 {
    padding: 40px;
  }
  
  .sm-pa-50 {
    padding: 50px;
  }

}

