// profile.css.less

.update-nav {
  min-height: 600px;
}


// ================ Verification ================

.box-verification {
  height: 50px;
  // width: 50%;
  margin: 0 auto;
  text-align: center;
  // display: inline-block;
}

.line-verification {
  line-height: 10px;
  width: auto;
  margin: 0px 10px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.icon-verification {
  background-size: 32px;
  height: 32px;
  width: 32px;
  margin: 0 auto;
  // font-size:32px !important;
}

.panel-member-status {
  display: inline-block;
  background-color: @lightgray;
  border: 1px solid lightgray;
  padding: 10px 20px;
  width: 30%;
  min-width: 100px;
  margin-left: -10px;
}

.dashboard-nav:hover {
  color: @yellow;
}

.dashboard-nav-active {
  font-weight: 600;
}

.iv-facebook {
  .icon-verification();
  background-image: image-url("icon-verification/facebook.png");
}

.iv-facebook-false {
  .icon-verification();
  background-image: image-url("icon-verification/facebook_f.png");
}

.iv-phone {
  .icon-verification();
  background-image: image-url("icon-verification/phone.png");
}

.iv-phone-false {
  .icon-verification();
  background-image: image-url("icon-verification/phone_f.png");
}

.iv-driver-license  {
  .icon-verification();
  background-image: image-url("icon-verification/driver_id.png");
}

.iv-driver-license-false  {
  .icon-verification();
  background-image: image-url("icon-verification/driver_id_f.png");
}

.iv-criminal-record  {
  .icon-verification();
  background-image: image-url("icon-verification/criminal_record.png");
}

.iv-criminal-record-false {
  .icon-verification();
  background-image: image-url("icon-verification/criminal_record_f.png");
}

// ================ ========= ================


.profile-img-xs {
  width:24px;
  height:24px;
  border-radius: 32px;
  vertical-align: middle;
}

.profile-img-sm {
  width:32px;
  height:32px;
  border-radius: 32px;
}

.profile-img {
  width: 46px;
  height: 46px;
  margin:0px 16px;
  border-radius: 46px;
}

.profile-img-lg {
  width: 147px;
  height: 147px;
  margin:0px 16px;
  border-radius: 147px;
  border: 2px solid @gray;
}

.profile-img-xl {
  width: 242px;
  height: 242px;
  margin:0px 16px;
  border-radius: 242px;
  border: 2px solid @gray;
}


.profile-line {
  line-height: 50px;
  display: inline-block;
  .h3 {
  	margin: 0;
  }
}

.star {
  color: @yellow;
}

.ctrl-active {
  color: @yellow !important;
}

.circle {
  font-size: 10px !important;
  color: @gray;
  margin-left: 5px;
}

@media all and (max-width : 640px) {
  
  .profile-img {
    width: 46px;
    height: 46px;
    margin:0px 10px 0px 0px;
    border-radius: 46px;
  } 

  .box-verification {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .panel-member-status {
    display: inline-block;
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px 20px;
    width: 60%;
    min-width: 100px;
    margin-left: -10px;
  }
}