// Place all the styles related to the responsive controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

// @media all and (min-width : 319px){
//   .xs-col1 {width: 8.33%;}
//   .xs-col3 {width: 25%;}
//   .xs-col2 {width: 16.66%;}
//   .xs-col4 {width: 33.33%;}
//   .xs-col5 {width: 41.66%;}
//   .xs-col6 {width: 50%;}
//   .xs-col7 {width: 58.33%;}
//   .xs-col8 {width: 66.66%;}
//   .xs-col9 {width: 75%;}
//   .xs-col10 {width: 83.33%;}
//   .xs-col11 {width: 91.66%;}
//   .xs-col12 {width: 100%;}
// }

// @media all and (min-width : 481px){
//   .sm-col1 {width: 8.33%;}
//   .sm-col2 {width: 16.66%;}
//   .sm-col3 {width: 25%;}
//   .sm-col4 {width: 33.33%;}
//   .sm-col5 {width: 41.66%;}
//   .sm-col6 {width: 50%;}
//   .sm-col7 {width: 58.33%;}
//   .sm-col8 {width: 66.66%;}
//   .sm-col9 {width: 75%;}
//   .sm-col10 {width: 83.33%;}
//   .sm-col11 {width: 91.66%;}
//   .sm-col12 {width: 100%;}
// }

// @media all and (min-width : 768px){
//   .md-col1 {width: 8.33%;}
//   .md-col2 {width: 16.66%;}
//   .md-col3 {width: 25%;}
//   .md-col4 {width: 33.33%;}
//   .md-col5 {width: 41.66%;}
//   .md-col6 {width: 50%;}
//   .md-col7 {width: 58.33%;}
//   .md-col8 {width: 66.66%;}
//   .md-col9 {width: 75%;}
//   .md-col10  {width: 83.33%;}
//   .md-col11  {width: 91.66%;}
//   .md-col12  {width: 100%;}
// }

// /* Desktops and laptops ----------- */
// @media all and (min-width : 1224px) {
//   .lg-col1 {width: 8.33%;}
//   .lg-col2 {width: 16.66%;}
//   .lg-col3 {width: 25%;}
//   .lg-col4 {width: 33.33%;}
//   .lg-col5 {width: 41.66%;}
//   .lg-col6 {width: 50%;}
//   .lg-col7 {width: 58.33%;}
//   .lg-col8 {width: 66.66%;}
//   .lg-col9 {width: 75%;}
//   .lg-col10 {width: 83.33%;}
//   .lg-col11 {width: 91.66%;}
//   .lg-col12 {width: 100%;}
//   /* Styles */
// }

// /* Large alls ----------- */
// @media all and (min-width : 1824px) {
//   .xl-col1 { width: 5.5%; }
//   .xl-col2 { width: 14%; }
//   .xl-col3 { width: 22.5%; }
//   .xl-col4 { width: 31%; }
//   .xl-col5 { width: 39.5%; }
//   .xl-col6 { width: 48%; }
//   .xl-col7 { width: 56.5%; }
//   .xl-col8 { width: 65%; }
//   .xl-col9 { width: 73.5%; }
//   .xl-col10 { width: 82%; }
//   .xl-col11 { width: 90.5%; }
//   .xl-col12 { width: 99%; margin: 0; }
// }

// //******************************************************************
// //  *************$%$%$ SmartPhone or Tablet $%$%$*****************
// //******************************************************************

// @media all and (min-device-width : 319px){
//   .xs-col1 {width: 8.33%;}
//   .xs-col2 {width: 16.66%;}
//   .xs-col3 {width: 25%;}
//   .xs-col4 {width: 33.33%;}
//   .xs-col5 {width: 41.66%;}
//   .xs-col6 {width: 50%;}
//   .xs-col7 {width: 58.33%;}
//   .xs-col8 {width: 66.66%;}
//   .xs-col9 {width: 75%;}
//   .xs-col10 {width: 83.33%;}
//   .xs-col11 {width: 91.66%;}
//   .xs-col12 {width: 100%;}
// }

// @media all and (min-device-width : 481px){
//   .sm-col1 {width: 8.33%;}
//   .sm-col2 {width: 16.66%;}
//   .sm-col3 {width: 25%;}
//   .sm-col4 {width: 33.33%;}
//   .sm-col5 {width: 41.66%;}
//   .sm-col6 {width: 50%;}
//   .sm-col7 {width: 58.33%;}
//   .sm-col8 {width: 66.66%;}
//   .sm-col9 {width: 75%;}
//   .sm-col10 {width: 83.33%;}
//   .sm-col11 {width: 91.66%;}
//   .sm-col12 {width: 100%;}
// }

// @media all and (min-device-width : 768px){
//   .md-col1 {width: 8.33%;}
//   .md-col2 {width: 16.66%;}
//   .md-col3 {width: 25%;}
//   .md-col4 {width: 33.33%;}
//   .md-col5 {width: 41.66%;}
//   .md-col6 {width: 50%;}
//   .md-col7 {width: 58.33%;}
//   .md-col8 {width: 66.66%;}
//   .md-col9 {width: 75%;}
//   .md-col10  {width: 83.33%;}
//   .md-col11  {width: 91.66%;}
//   .md-col12  {width: 100%;}
// }

// /* Desktops and laptops ----------- */
// @media all and (min-width : 1224px) {
//   .lg-col1 {width: 8.33%;}
//   .lg-col2 {width: 16.66%;}
//   .lg-col3 {width: 25%;}
//   .lg-col4 {width: 33.33%;}
//   .lg-col5 {width: 41.66%;}
//   .lg-col6 {width: 50%;}
//   .lg-col7 {width: 58.33%;}
//   .lg-col8 {width: 66.66%;}
//   .lg-col9 {width: 75%;}
//   .lg-col10 {width: 83.33%;}
//   .lg-col11 {width: 91.66%;}
//   .lg-col12 {width: 100%;}
//   /* Styles */
// }

// /* Large alls ----------- */
// @media all and (min-device-width : 1824px) {
//   .xl-col1 { width: 5.5%; }
//   .xl-col2 { width: 14%; }
//   .xl-col3 { width: 22.5%; }
//   .xl-col4 { width: 31%; }
//   .xl-col5 { width: 39.5%; }
//   .xl-col6 { width: 48%; }
//   .xl-col7 { width: 56.5%; }
//   .xl-col8 { width: 65%; }
//   .xl-col9 { width: 73.5%; }
//   .xl-col10 { width: 82%; }
//   .xl-col11 { width: 90.5%; }
//   .xl-col12 { width: 99%; margin: 0; }
// }



// *********************************



@media all and (min-width : 320px){
  .xs-col1 {width: 8.33%;}
  .xs-col2 {width: 16.66%;}
  .xs-col3 {width: 25%;}
  .xs-col4 {width: 33.33%;}
  .xs-col5 {width: 41.66%;}
  .xs-col6 {width: 50%;}
  .xs-col7 {width: 58.33%;}
  .xs-col8 {width: 66.66%;}
  .xs-col9 {width: 75%;}
  .xs-col10 {width: 83.33%;}
  .xs-col11 {width: 91.66%;}
  .xs-col12 {width: 100%;}
}

@media all and (min-width : 480px){
  .sm-col1 {width: 8.33%;}
  .sm-col2 {width: 16.66%;}
  .sm-col3 {width: 25%;}
  .sm-col4 {width: 33.33%;}
  .sm-col5 {width: 41.66%;}
  .sm-col6 {width: 50%;}
  .sm-col7 {width: 58.33%;}
  .sm-col8 {width: 66.66%;}
  .sm-col9 {width: 75%;}
  .sm-col10 {width: 83.33%;}
  .sm-col11 {width: 91.66%;}
  .sm-col12 {width: 100%;}
}


@media all and (min-width : 736px){
  .md-col1 {width: 8.33%;}
  .md-col2 {width: 16.66%;}
  .md-col3 {width: 25%;}
  .md-col4 {width: 33.33%;}
  .md-col5 {width: 41.66%;}
  .md-col6 {width: 50%;}
  .md-col7 {width: 58.33%;}
  .md-col8 {width: 66.66%;}
  .md-col9 {width: 75%;}
  .md-col10  {width: 83.33%;}
  .md-col11  {width: 91.66%;}
  .md-col12  {width: 100%;}
}



/* Desktops and laptops ----------- */
@media all and (min-width : 980px) {
  .lg-col1 {width: 8.33%;}
  .lg-col2 {width: 16.66%;}
  .lg-col3 {width: 25%;}
  .lg-col4 {width: 33.33%;}
  .lg-col5 {width: 41.66%;}
  .lg-col6 {width: 50%;}
  .lg-col7 {width: 58.33%;}
  .lg-col8 {width: 66.66%;}
  .lg-col9 {width: 75%;}
  .lg-col10 {width: 83.33%;}
  .lg-col11 {width: 91.66%;}
  .lg-col12 {width: 100%;}
  /* Styles */
}



/* Large alls ----------- */
@media all and (min-width : 1280px) {
  .xl-col1 { width: 5.5%; }
  .xl-col2 { width: 14%; }
  .xl-col3 { width: 22.5%; }
  .xl-col4 { width: 31%; }
  .xl-col5 { width: 39.5%; }
  .xl-col6 { width: 48%; }
  .xl-col7 { width: 56.5%; }
  .xl-col8 { width: 65%; }
  .xl-col9 { width: 73.5%; }
  .xl-col10 { width: 82%; }
  .xl-col11 { width: 90.5%; }
  .xl-col12 { width: 99%; margin: 0; }
}




