//tab.css.less


.container-tab {
  width: 90%;
  margin: 0px 5%;
  height: 50px;
  div, ul, li {
    margin: 0;
    padding: 0;
  }
  padding-bottom: 20px;
  .tab {
    width:100%;
    display: inline-block;
    height: 30%;
    inline-height: 60%;
    border-radius: 5px;
    padding-top: 15px;
    li {
      height: 100% !important;
      text-align: center;
      width: 40%;
      margin: 0 auto;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      color: white;
      padding: 10px 0px;
      // background-color: lightgray;
      a { 
        height: 100%;
        padding: 10px 20px;
        color: white;
        cursor: pointer;
      }
      vertical-align: middle;
    }
    li:nth-child(1){
      background-color: lightgray;
    }
  }
}

.tab-nav {
  // background-color: white;
  height: 20px;
  // width: 50%;
  padding: 20px 0px;
  // border: 1px solid @gray;
  
  li {
  	text-align: center;
  	height: 100%;
  	padding: 0px 80px 0px 0px;
  	// border: 1px solid @gray;
  }

  // li:hover {
  // 	color: white;
  // 	background-color: @yellow;
  // 	.animated();
  // }

  a:hover {
  	color:white;
  }
}

.animated { 
  -webkit-animation-duration: 0.4s; 
  animation-duration: 0.4s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
  -webkit-animation-timing-function: ease-in-out; 
  animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes fadeIn { 
  0% {opacity: 0;} 
  100% {opacity: 1;} 
} 

@keyframes fadeIn { 
  0% {opacity: 0;} 
  100% {opacity: 1;} 
} 

.fadeIn { 
  -webkit-animation-name: fadeIn; 
  animation-name: fadeIn; 
}




