//top.css.less

.title {
  position: relative;
  width: 100%;
  height: 568px;
  background-image: image-url("title-3.jpg");
  background-position: 20% 100%;
}

.title-header {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.search {
  input[type="text"] {
  	width: 300px;
  }
}

.container {
  text-align: center;
  margin: 10% auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 50px 0px;
}

.list-city {
  width: 80%;
  margin: 0 auto;
}

.city {
  width: 70%;
  position: relative;
  margin: 10px 15% ;
  margin-bottom: 30px; 
  .name {
  	position: absolute;
  	top: 50%;
  	left: 45%;
  	color: white;
  }
}

.title-city {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: auto;
  padding: 10px 0px 10px 0px;
  .font(white, @font-weight-bold , 18px);
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  vertical-align: middle;
  color: white;
}

.image-city {
  width: 100%;
  margin: 0 auto;
}

.bg-special { 
  // background: linear-gradient(45deg, #f9f9f9 45px, transparent 45px) 64px 64px, linear-gradient(45deg, #f9f9f9 45px, transparent 45px, transparent 91px, #ffffff 91px, #ffffff 135px, transparent 135px), linear-gradient(-45deg, #f9f9f9 23px, transparent 23px, transparent 68px, #f9f9f9 68px, #f9f9f9 113px, transparent 113px, transparent 158px, #f9f9f9 158px);
  background-color: @green;
  background-size: 128px 128px;
  color: white !important;
}

.bg-order-new { 
  // background: linear-gradient(45deg, #f9f9f9 45px, transparent 45px) 64px 64px, linear-gradient(45deg, #f9f9f9 45px, transparent 45px, transparent 91px, #ffffff 91px, #ffffff 135px, transparent 135px), linear-gradient(-45deg, #f9f9f9 23px, transparent 23px, transparent 68px, #f9f9f9 68px, #f9f9f9 113px, transparent 113px, transparent 158px, #f9f9f9 158px);
  background-image: image-url("order-page.jpeg");
  background-position: 70% 60%;
  color: white !important;
}

.bg-user-update {
  background-image: image-url("user-update.jpg");
  background-position: 50% 60%;
  color: white !important;
}

.content-header {
  height: 150px;
  padding-top: 100px;
  h1, h2, h3, h4 {
  	color: white;
    font-shadow: 1px 2px 3px gray !important;
  }

  .h2 {
    font-shadow: 1px 2px 3px gray !important;
  }
}


//******************************************************************
//  *************$%$%$ SmartPhone or Tablet $%$%$*****************
//******************************************************************


@media all and (max-device-width : 481px){

  .title {
    position: relative;
    width: 100%;
    height: 498px;
    background: image-url("title-2.jpg");
    background-position: 25% 50%;
    font-size: 14px;
  }
  
  .font-title {
    font-size: 32px;
  }
  
  .content-header {
    height: 150px;
    padding-top: 60px;
    padding-bottom: 10px;
    h1, h2, h3, h4 {
      color: white;
    }
  }
  
  .title-city {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 0px;
    .font(white, @font-weight-bold , 14px);
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    vertical-align: middle;
    color: white;
  }
  
  .title-header {
    position: relative;
    top: 25%;
    //left: 0%;
    text-align: center;    
  }
  
  .list-city {
    width: 100%;
    margin: 0 auto;
  }
  
  .container {
    text-align: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 50px 0px;
  }
  
  .city {
    width: 100%;
    position: relative;
    margin: 0px 0% ;
    margin-bottom: 10px;

    .name {
      position: absolute;
      top: 50%;
      left: 45%;
      color: white;
    }
  }
}


//******************************************************************
//  *************$%$%$ Browser small size $%$%$*****************
//******************************************************************


// @media screen and (max-width : 481px){

//   .title {
//     position: relative;
//     width: 100%;
//     height: 498px;
//     background: image-url("title-2.jpg");
//     background-position: right;
//     font-size: 14px;
//   }

//   .font-title {
//     font-size: 24px;
//   }

//   .content-header {
//     height: 150px;
//     padding-top: 60px;
//     padding-bottom: 10px;
//     h1, h2, h3, h4 {
//       color: white;
//     }
//   }

//   .title-city {
//     position: absolute;
//     bottom: 8px;
//     left: 0;
//     width: 100%;
//     height: auto;
//     padding: 10px 0px 10px 0px;
//     .font(white, @font-weight-bold , 14px);
//     background-color: rgba(0,0,0,0.5);
//     text-align: center;
//     vertical-align: middle;
//     color: white;
//   }

//   .title-header {
//     position: relative;
//     top: 25%;
//     left: 0%;
//     text-align: center;    
//   }

//   .list-city {
//     width: 100%;
//     margin: 0 auto;
//   }

//   .container {
//     text-align: center;
//     width: 100%;
//     margin-top: 0;
//     margin-bottom: 0;
//     padding: 50px 0px;
//   }

//   .city {
//   width: 100%;
//   position: relative;
//   margin: 0px 0% ;
//   margin-bottom: 10px; 
//     .name {
//       position: absolute;
//       top: 50%;
//       left: 45%;
//       color: white;
//     }
//   }
// }

