//tour.css.less

.offer-box {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  display: none;
  border-top:1px solid @gray;
  box-shadow: 2px 2px 2px black;
  bottom: 0;
  width: 100%;
  height: auto;
}

.payment-box {
  background-color: white;
  width:320px;
  height: 400px;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
}

.container-message {
  margin-top:25px;
}


// **************  new page  ************


.onTheMap {
  position: relative;
  top:100;
  left:0;
}

.tour-budget {
  background-color: @yellow;
  width:50px;
  line-height: 50px;
  border-radius: 50px;
  margin: 0 auto;
  margin-top:15px; 
}