<div class="debug xs-col12 sm-col12 md-col12 lg-col12">
	<div class="title">
		<div class="search">

		</div>
	</div>
</div>
<main class="main debug">
	<div class="map">
		Map
	</div>
	<div class="city-list">
		<div id="city" class="sq-box">
			City
		</div>
		<div class="city">
			City
		</div>
		<div class="city">
			City
		</div>
	</div>
</main>
