<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="content-script-type" content="text/javascript" />
  <meta http-equiv="content-language" content="en" />
  <%= render partial: "layouts/partial/favicon" %>
  <%= display_meta_tags(default_meta_tags) %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- instagram style-->
  <style>
     .fb-like {width:100%;}
  　　.ig-b- { display: inline-block; }
  　　.ig-b- img { visibility: hidden; }
  　　.ig-b-:hover { background-position: 0 -60px; } 
  　　.ig-b-:active { background-position: 0 -120px; }
  　　.ig-b-v-24 { 
    　　width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; 
  　　}
   @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
     .ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }
  </style>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
   <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <script>
    document.createElement("header");
    document.createElement("footer");
    document.createElement("section"); 
    document.createElement("aside");
    document.createElement("nav");
    document.createElement("article"); 
    document.createElement("hgroup"); 
    document.createElement("time");
  </script>
   <noscript>
     <strong>Warning!</strong>
     Please enalbe script on you browser
  </noscript>
<![endif]-->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer>
  </script> -->
</head>
<body>
<div class="popup-black"></div>
<%= render partial: "layouts/partial/header" %>
<%= render partial: "layouts/partial/popup/signup" %>
<%= render partial: "layouts/partial/popup/login" %>
<%= render partial: "layouts/partial/popup/alert" %>
<%= render partial: "layouts/partial/facebook" %>
<article>
  <%= yield %>
</article>
<%= render partial: "layouts/partial/footer" %> 
<!--Start of Tawk.to Script-->
<%= render partial: "layouts/partial/tawk" %>
<!--End of Tawk.to Script-->

<%= render partial: "layouts/partial/google_analytics" %>
</body>
</html>
